# 1. train_encoding.ipynb
- 머신러닝하기 위해 필요한 데이터 구조 조작 클래스

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from unicodedata import category
import encoding

# 2. Data 불러오기

In [2]:
lunch = pd.read_csv("data/lunch_df_encoding.csv")
dinner = pd.read_csv("data/dinner_df_encoding.csv")

In [3]:
lunch.head()

,datetime,year,month,date,worker_number,real_number,vacation_number,biztrip_number,overtime_number,telecom_number,...,season_winter,weekdays_friday,weekdays_monday,weekdays_thursday,weekdays_tuesday,weekdays_wednesday,vacation_N,vacation_Y,new_lunch_N,new_lunch_Y
0,2016-02-01,2016,2,1,2601,2401,50,150,238,0,...,1,0,1,0,0,0,1,0,1,0
1,2016-02-02,2016,2,2,2601,2378,50,173,319,0,...,1,0,0,0,1,0,1,0,1,0
2,2016-02-03,2016,2,3,2601,2365,56,180,111,0,...,1,0,0,0,0,1,1,0,1,0
3,2016-02-04,2016,2,4,2601,2277,104,220,355,0,...,1,0,0,1,0,0,1,0,1,0
4,2016-02-05,2016,2,5,2601,2142,278,181,34,0,...,1,1,0,0,0,0,0,1,1,0

In [4]:
dinner.head()

,datetime,year,month,date,worker_number,real_number,vacation_number,biztrip_number,overtime_number,telecom_number,...,season_winter,weekdays_friday,weekdays_monday,weekdays_thursday,weekdays_tuesday,weekdays_wednesday,vacation_N,vacation_Y,new_dinner_N,new_dinner_Y
0,2016-02-01,2016,2,1,2601,2401,50,150,238,0,...,1,0,1,0,0,0,1,0,1,0
1,2016-02-02,2016,2,2,2601,2378,50,173,319,0,...,1,0,0,0,1,0,1,0,1,0
2,2016-02-03,2016,2,3,2601,2365,56,180,111,0,...,1,0,0,0,0,1,1,0,1,0
3,2016-02-04,2016,2,4,2601,2277,104,220,355,0,...,1,0,0,1,0,0,1,0,1,0
4,2016-02-05,2016,2,5,2601,2142,278,181,34,0,...,1,1,0,0,0,0,0,1,1,0

# 3. class 호출 및 테스트

In [5]:
encoding = train_encoding.Train_Encoding(lunch, dinner)

### 1. dropna
- ok

In [6]:
dropna_lunch = encoding.dropna_lunch()
dropna_dinner = encoding.dropna_dinner()

In [7]:
dropna_lunch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1203 entries, 0 to 1204
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   datetime               1203 non-null   object
 1   year                   1203 non-null   int64
 2   month                  1203 non-null   int64
 3   date                   1203 non-null   int64
 4   worker_number          1203 non-null   int64
 5   real_number            1203 non-null   int64
 6   vacation_number        1203 non-null   int64
 7   biztrip_number         1203 non-null   int64
 8   overtime_number        1203 non-null   int64
 9   telecom_number         1203 non-null   int64
 10  temperature            1203 non-null   float64
 11  rain                   1203 non-null   float64
 12  wind                   1203 non-null   float64
 13  humidity               1203 non-null   float64
 14  discomfort_index       1203 non-null   float64
 15  perceived_temperature  1203 non-null   float64
 16  lunch_rice             1203 non-null   int64
 17  lunch_number           1203 non-null   int64
 18  season_fall            1203 non-null   int64
 19  season_spring          1203 non-null   int64
 20  season_summer          1203 non-null   int64
 21  season_winter          1203 non-null   int64
 22  weekdays_friday        1203 non-null   int64
 23  weekdays_monday        1203 non-null   int64
 24  weekdays_thursday      1203 non-null   int64
 25  weekdays_tuesday       1203 non-null   int64
 26  weekdays_wednesday     1203 non-null   int64
 27  vacation_N             1203 non-null   int64
 28  vacation_Y             1203 non-null   int64
 29  new_lunch_N            1203 non-null   int64
 30  new_lunch_Y            1203 non-null   int64
dtypes: float64(6), int64(24), object(1)
memory usage: 300.8+ KB

In [8]:
dropna_dinner.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1203 entries, 0 to 1204
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   datetime               1203 non-null   object
 1   year                   1203 non-null   int64
 2   month                  1203 non-null   int64
 3   date                   1203 non-null   int64
 4   worker_number          1203 non-null   int64
 5   real_number            1203 non-null   int64
 6   vacation_number        1203 non-null   int64
 7   biztrip_number         1203 non-null   int64
 8   overtime_number        1203 non-null   int64
 9   telecom_number         1203 non-null   int64
 10  temperature            1203 non-null   float64
 11  rain                   1203 non-null   float64
 12  wind                   1203 non-null   float64
 13  humidity               1203 non-null   float64
 14  discomfort_index       1203 non-null   float64
 15  perceived_temperature  1203 non-null   float64
 16  dinner_rice            1203 non-null   int64
 17  dinner_number          1203 non-null   int64
 18  season_fall            1203 non-null   int64
 19  season_spring          1203 non-null   int64
 20  season_summer          1203 non-null   int64
 21  season_winter          1203 non-null   int64
 22  weekdays_friday        1203 non-null   int64
 23  weekdays_monday        1203 non-null   int64
 24  weekdays_thursday      1203 non-null   int64
 25  weekdays_tuesday       1203 non-null   int64
 26  weekdays_wednesday     1203 non-null   int64
 27  vacation_N             1203 non-null   int64
 28  vacation_Y             1203 non-null   int64
 29  new_dinner_N           1203 non-null   int64
 30  new_dinner_Y           1203 non-null   int64
dtypes: float64(6), int64(24), object(1)
memory usage: 300.8+ KB

### 4. split
+ 결과물 한번에 도출하고 싶을 때 사용하면 됨

In [9]:
lunch_X_train, lunch_X_test, lunch_y_train, lunch_y_test = encoding.split_lunch()
dinner_X_train, dinner_X_test, dinner_y_train, dinner_y_test = encoding.split_dinner()

In [10]:
lunch_X_test

,datetime,year,month,date,worker_number,real_number,vacation_number,biztrip_number,overtime_number,telecom_number,...,season_winter,weekdays_friday,weekdays_monday,weekdays_thursday,weekdays_tuesday,weekdays_wednesday,vacation_N,vacation_Y,new_lunch_N,new_lunch_Y
224,2016-12-28,2016,12,28,2705,2314,166,225,0,0,...,1,0,0,0,0,1,1,0,1,0
108,2016-07-12,2016,7,12,2643,2348,72,223,382,0,...,0,0,0,0,1,0,1,0,1,0
904,2019-10-18,2019,10,18,3121,2489,332,300,2,0,...,0,1,0,0,0,0,1,0,1,0
193,2016-11-15,2016,11,15,2689,2350,66,273,418,0,...,0,0,0,0,1,0,1,0,1,0
631,2018-08-27,2018,8,27,2996,2632,138,226,492,0,...,0,0,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,2017-11-09,2017,11,9,2644,2267,90,287,347,0,...,0,0,0,1,0,0,1,0,1,0
134,2016-08-18,2016,8,18,2644,2155,274,215,364,0,...,0,0,0,1,0,0,1,0,1,0
391,2017-08-31,2017,8,31,2645,2254,110,281,189,0,...,0,0,0,1,0,0,1,0,1,0
35,2016-03-25,2016,3,25,2624,2251,98,275,59,0,...,0,1,0,0,0,0,1,0,1,0
1162,2020-11-19,2020,11,19,3021,2490,144,277,541,110,...,0,0,0,1,0,0,1,0,1,0

### 2. category
- ok

In [9]:
category_lunch = encoding.category_lunch()
category_dinner = encoding.category_dinner()

/Users/hoon/Desktop/Data/vscode/team_project/Forecast_final/module/train_encoding.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lunch[col] = lunch[col].astype('category')
/Users/hoon/Desktop/Data/vscode/team_project/Forecast_final/module/train_encoding.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dinner[col] = dinner[col].astype('category')

In [10]:
category_lunch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1203 entries, 0 to 1204
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   datetime               1203 non-null   object
 1   year                   1203 non-null   category
 2   month                  1203 non-null   category
 3   date                   1203 non-null   category
 4   worker_number          1203 non-null   int64
 5   real_number            1203 non-null   int64
 6   vacation_number        1203 non-null   int64
 7   biztrip_number         1203 non-null   int64
 8   overtime_number        1203 non-null   int64
 9   telecom_number         1203 non-null   int64
 10  temperature            1203 non-null   float64
 11  rain                   1203 non-null   float64
 12  wind                   1203 non-null   float64
 13  humidity               1203 non-null   float64
 14  discomfort_index       1203 non-null   float64
 15  perceived_temperature  1203 non-null   float64
 16  lunch_rice             1203 non-null   int64
 17  lunch_number           1203 non-null   int64
 18  season_fall            1203 non-null   int64
 19  season_spring          1203 non-null   int64
 20  season_summer          1203 non-null   int64
 21  season_winter          1203 non-null   int64
 22  weekdays_friday        1203 non-null   int64
 23  weekdays_monday        1203 non-null   int64
 24  weekdays_thursday      1203 non-null   int64
 25  weekdays_tuesday       1203 non-null   int64
 26  weekdays_wednesday     1203 non-null   int64
 27  vacation_N             1203 non-null   int64
 28  vacation_Y             1203 non-null   int64
 29  new_lunch_N            1203 non-null   int64
 30  new_lunch_Y            1203 non-null   int64
dtypes: category(3), float64(6), int64(21), object(1)
memory usage: 278.0+ KB

In [11]:
category_dinner.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1203 entries, 0 to 1204
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   datetime               1203 non-null   object
 1   year                   1203 non-null   category
 2   month                  1203 non-null   category
 3   date                   1203 non-null   category
 4   worker_number          1203 non-null   int64
 5   real_number            1203 non-null   int64
 6   vacation_number        1203 non-null   int64
 7   biztrip_number         1203 non-null   int64
 8   overtime_number        1203 non-null   int64
 9   telecom_number         1203 non-null   int64
 10  temperature            1203 non-null   float64
 11  rain                   1203 non-null   float64
 12  wind                   1203 non-null   float64
 13  humidity               1203 non-null   float64
 14  discomfort_index       1203 non-null   float64
 15  perceived_temperature  1203 non-null   float64
 16  dinner_rice            1203 non-null   int64
 17  dinner_number          1203 non-null   int64
 18  season_fall            1203 non-null   int64
 19  season_spring          1203 non-null   int64
 20  season_summer          1203 non-null   int64
 21  season_winter          1203 non-null   int64
 22  weekdays_friday        1203 non-null   int64
 23  weekdays_monday        1203 non-null   int64
 24  weekdays_thursday      1203 non-null   int64
 25  weekdays_tuesday       1203 non-null   int64
 26  weekdays_wednesday     1203 non-null   int64
 27  vacation_N             1203 non-null   int64
 28  vacation_Y             1203 non-null   int64
 29  new_dinner_N           1203 non-null   int64
 30  new_dinner_Y           1203 non-null   int64
dtypes: category(3), float64(6), int64(21), object(1)
memory usage: 278.0+ KB

### 3. rice
+ ok

In [12]:
rice_lunch = encoding.rice_lunch()
rice_dinner = encoding.rice_dinner()

/Users/hoon/Desktop/Data/vscode/team_project/Forecast_final/module/train_encoding.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lunch[col] = lunch[col].astype('category')
/Users/hoon/Desktop/Data/vscode/team_project/Forecast_final/module/train_encoding.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lunch['lunch_rice'][index] = "N"
/Users/hoon/miniforge3/envs/ML/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/Users/hoon/miniforge3/envs/ML/lib/python3.9/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/Users/hoon/miniforge3/envs/ML/lib/python3.9/site-packages/pandas/core/indexing.py:1724: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer_missing(indexer, value)

KeyError: 'lunch_soup'

In [13]:
### 해야할 일
# 1. sql에서 데이터 추출하는 기능 추가하기
# -> 이건 sql.py에 담아두도록 하겠습니다.
# 2. sql.py 모듈 구조를 바꾸기.
# -> 데이터 DB 저장 / 데이터 추출 두 함수로 모듈 단순화
# 3. LSTM은 수정할 내용 없어보임.
# -> 차후 유지보수 측면에서 어려움이 발생하면 그 때 함수 나누는 코드 작성해야