# 1. train_encoding.ipynb
- 머신러닝하기 위해 필요한 데이터 구조 조작 클래스

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from unicodedata import category
import encoding

# 2. Data 불러오기

In [2]:
# csv 파일 읽으면 datetime 칼럼은 datetime 형태가 아닙니다. 그래서, parse_dates=['datetime]을 꼭 붙여줘야합니다.
df = pd.read_csv("data/df_from_sql.csv", parse_dates=['datetime'], index_col=0)

In [3]:
df.head()

,datetime,weekdays,worker_number,real_number,vacation_number,biztrip_number,overtime_number,telecom_number,lunch_number,dinner_number,...,lunch_main,dinner_rice,dinner_soup,dinner_main,temperature,rain,wind,humidity,discomfort_index,perceived_temperature
0,2016-02-01,monday,2601,2401,50,150,238,0,1039,331,...,쇠불고기,밥,육개장,자반고등어구이,-0.6,0.0,1.3,43.9,39.275534,0.641548
1,2016-02-02,tuesday,2601,2378,50,173,319,0,867,560,...,가자미튀김,콩나물밥*양념장,어묵국,유산슬,-2.3,0.0,0.8,47.5,36.562925,-0.160634
2,2016-02-03,wednesday,2601,2365,56,180,111,0,1017,573,...,치킨핑거,밥,청국장찌개,황태양념구이,-1.7,0.0,0.6,57.1,35.796707,0.964631
3,2016-02-04,thursday,2601,2277,104,220,355,0,978,525,...,주꾸미볶음,미니김밥*겨자장,우동,멕시칸샐러드,-0.2,0.0,0.7,53.4,38.396068,2.181494
4,2016-02-05,friday,2601,2142,278,181,34,0,925,330,...,돈육씨앗강정,밥,차돌박이찌개,닭갈비,1.3,0.0,1.0,44.4,41.575228,3.073400

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1205 entries, 0 to 1204
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   datetime               1205 non-null   datetime64[ns]
 1   weekdays               1205 non-null   object
 2   worker_number          1205 non-null   int64
 3   real_number            1205 non-null   int64
 4   vacation_number        1205 non-null   int64
 5   biztrip_number         1205 non-null   int64
 6   overtime_number        1205 non-null   int64
 7   telecom_number         1205 non-null   int64
 8   lunch_number           1205 non-null   int64
 9   dinner_number          1205 non-null   int64
 10  year                   1205 non-null   int64
 11  month                  1205 non-null   int64
 12  date                   1205 non-null   int64
 13  season                 1205 non-null   object
 14  vacation               1205 non-null   int64
 15  new_lunch              1205 non-null   object
 16  new_dinner             1205 non-null   object
 17  lunch_rice             1205 non-null   object
 18  lunch_soup             1205 non-null   object
 19  lunch_main             1205 non-null   object
 20  dinner_rice            1205 non-null   object
 21  dinner_soup            1205 non-null   object
 22  dinner_main            1205 non-null   object
 23  temperature            1204 non-null   float64
 24  rain                   1205 non-null   float64
 25  wind                   1204 non-null   float64
 26  humidity               1205 non-null   float64
 27  discomfort_index       1204 non-null   float64
 28  perceived_temperature  1203 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(12), object(10)
memory usage: 282.4+ KB

# 3. class 호출 및 테스트

In [5]:
encoding = encoding.Train_Encoding(df)

### 1. drop
- ok

In [6]:
df_dropna = encoding.drop()

In [7]:
df_dropna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1203 entries, 0 to 1204
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   datetime               1203 non-null   datetime64[ns]
 1   weekdays               1203 non-null   object
 2   worker_number          1203 non-null   int64
 3   real_number            1203 non-null   int64
 4   vacation_number        1203 non-null   int64
 5   biztrip_number         1203 non-null   int64
 6   overtime_number        1203 non-null   int64
 7   telecom_number         1203 non-null   int64
 8   lunch_number           1203 non-null   int64
 9   dinner_number          1203 non-null   int64
 10  year                   1203 non-null   int64
 11  month                  1203 non-null   int64
 12  date                   1203 non-null   int64
 13  season                 1203 non-null   object
 14  vacation               1203 non-null   int64
 15  new_lunch              1203 non-null   object
 16  new_dinner             1203 non-null   object
 17  lunch_rice             1203 non-null   object
 18  lunch_soup             1203 non-null   object
 19  lunch_main             1203 non-null   object
 20  dinner_rice            1203 non-null   object
 21  dinner_soup            1203 non-null   object
 22  dinner_main            1203 non-null   object
 23  temperature            1203 non-null   float64
 24  rain                   1203 non-null   float64
 25  wind                   1203 non-null   float64
 26  humidity               1203 non-null   float64
 27  discomfort_index       1203 non-null   float64
 28  perceived_temperature  1203 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(12), object(10)
memory usage: 282.0+ KB

### 2. seperate
- ok

In [6]:
df_lunch = encoding.seperate()[0]
df_dinner = encoding.seperate()[1]

In [7]:
df_lunch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1203 entries, 0 to 1204
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   datetime               1203 non-null   datetime64[ns]
 1   season                 1203 non-null   object
 2   year                   1203 non-null   int64
 3   month                  1203 non-null   int64
 4   date                   1203 non-null   int64
 5   weekdays               1203 non-null   object
 6   vacation               1203 non-null   int64
 7   worker_number          1203 non-null   int64
 8   real_number            1203 non-null   int64
 9   vacation_number        1203 non-null   int64
 10  biztrip_number         1203 non-null   int64
 11  overtime_number        1203 non-null   int64
 12  telecom_number         1203 non-null   int64
 13  temperature            1203 non-null   float64
 14  rain                   1203 non-null   float64
 15  wind                   1203 non-null   float64
 16  humidity               1203 non-null   float64
 17  discomfort_index       1203 non-null   float64
 18  perceived_temperature  1203 non-null   float64
 19  lunch_rice             1203 non-null   object
 20  lunch_soup             1203 non-null   object
 21  lunch_main             1203 non-null   object
 22  new_lunch              1203 non-null   object
 23  lunch_number           1203 non-null   int64
dtypes: datetime64[ns](1), float64(6), int64(11), object(6)
memory usage: 235.0+ KB

In [8]:
df_dinner.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1203 entries, 0 to 1204
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   datetime               1203 non-null   datetime64[ns]
 1   season                 1203 non-null   object
 2   year                   1203 non-null   int64
 3   month                  1203 non-null   int64
 4   date                   1203 non-null   int64
 5   weekdays               1203 non-null   object
 6   vacation               1203 non-null   int64
 7   worker_number          1203 non-null   int64
 8   real_number            1203 non-null   int64
 9   vacation_number        1203 non-null   int64
 10  biztrip_number         1203 non-null   int64
 11  overtime_number        1203 non-null   int64
 12  telecom_number         1203 non-null   int64
 13  temperature            1203 non-null   float64
 14  rain                   1203 non-null   float64
 15  wind                   1203 non-null   float64
 16  humidity               1203 non-null   float64
 17  discomfort_index       1203 non-null   float64
 18  perceived_temperature  1203 non-null   float64
 19  dinner_rice            1203 non-null   object
 20  dinner_soup            1203 non-null   object
 21  dinner_main            1203 non-null   object
 22  new_dinner             1203 non-null   object
 23  dinner_number          1203 non-null   int64
dtypes: datetime64[ns](1), float64(6), int64(11), object(6)
memory usage: 235.0+ KB

### 3. rice
+ ok
+ 메뉴를 모두 겟더미할 수 없어 밥을 일반과 특식으로 나눴습니다. 이 외 국, 반찬은 데이터가 아깝지만 카테고리화할 수 없어 버렸습니다.

In [6]:
rice_lunch = encoding.rice_lunch()
rice_dinner = encoding.rice_dinner()

/Users/hoon/Desktop/Data/vscode/team_project/Forecast_final/module/encoding.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lunch['lunch_rice'][index] = "N"
/Users/hoon/Desktop/Data/vscode/team_project/Forecast_final/module/encoding.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dinner['dinner_rice'][index] = "N"

In [8]:
rice_lunch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1203 entries, 0 to 1204
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   datetime               1203 non-null   datetime64[ns]
 1   season                 1203 non-null   object
 2   year                   1203 non-null   int64
 3   month                  1203 non-null   int64
 4   date                   1203 non-null   int64
 5   weekdays               1203 non-null   object
 6   vacation               1203 non-null   int64
 7   worker_number          1203 non-null   int64
 8   real_number            1203 non-null   int64
 9   vacation_number        1203 non-null   int64
 10  biztrip_number         1203 non-null   int64
 11  overtime_number        1203 non-null   int64
 12  telecom_number         1203 non-null   int64
 13  temperature            1203 non-null   float64
 14  rain                   1203 non-null   float64
 15  wind                   1203 non-null   float64
 16  humidity               1203 non-null   float64
 17  discomfort_index       1203 non-null   float64
 18  perceived_temperature  1203 non-null   float64
 19  lunch_rice             1203 non-null   object
 20  new_lunch              1203 non-null   object
 21  lunch_number           1203 non-null   int64
dtypes: datetime64[ns](1), float64(6), int64(11), object(4)
memory usage: 248.5+ KB

In [9]:
rice_dinner.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1203 entries, 0 to 1204
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   datetime               1203 non-null   datetime64[ns]
 1   season                 1203 non-null   object
 2   year                   1203 non-null   int64
 3   month                  1203 non-null   int64
 4   date                   1203 non-null   int64
 5   weekdays               1203 non-null   object
 6   vacation               1203 non-null   int64
 7   worker_number          1203 non-null   int64
 8   real_number            1203 non-null   int64
 9   vacation_number        1203 non-null   int64
 10  biztrip_number         1203 non-null   int64
 11  overtime_number        1203 non-null   int64
 12  telecom_number         1203 non-null   int64
 13  temperature            1203 non-null   float64
 14  rain                   1203 non-null   float64
 15  wind                   1203 non-null   float64
 16  humidity               1203 non-null   float64
 17  discomfort_index       1203 non-null   float64
 18  perceived_temperature  1203 non-null   float64
 19  dinner_rice            1203 non-null   object
 20  new_dinner             1203 non-null   object
 21  dinner_number          1203 non-null   int64
dtypes: datetime64[ns](1), float64(6), int64(11), object(4)
memory usage: 248.5+ KB

### 4. one_hot
+ ok

In [6]:
df_onehot_lunch = encoding.onehot_lunch()
df_onehot_dinner = encoding.onehot_dinner()

/Users/hoon/Desktop/Data/vscode/team_project/Forecast_final/module/encoding.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lunch['lunch_rice'][index] = "N"
/Users/hoon/Desktop/Data/vscode/team_project/Forecast_final/module/encoding.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dinner['dinner_rice'][index] = "N"

In [7]:
df_onehot_lunch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1203 entries, 0 to 1204
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   datetime               1203 non-null   datetime64[ns]
 1   year                   1203 non-null   int64
 2   month                  1203 non-null   int64
 3   date                   1203 non-null   int64
 4   vacation               1203 non-null   int64
 5   worker_number          1203 non-null   int64
 6   real_number            1203 non-null   int64
 7   vacation_number        1203 non-null   int64
 8   biztrip_number         1203 non-null   int64
 9   overtime_number        1203 non-null   int64
 10  telecom_number         1203 non-null   int64
 11  temperature            1203 non-null   float64
 12  rain                   1203 non-null   float64
 13  wind                   1203 non-null   float64
 14  humidity               1203 non-null   float64
 15  discomfort_index       1203 non-null   float64
 16  perceived_temperature  1203 non-null   float64
 17  lunch_number           1203 non-null   int64
 18  season_fall            1203 non-null   uint8
 19  season_spring          1203 non-null   uint8
 20  season_summer          1203 non-null   uint8
 21  season_winter          1203 non-null   uint8
 22  weekdays_friday        1203 non-null   uint8
 23  weekdays_monday        1203 non-null   uint8
 24  weekdays_thursday      1203 non-null   uint8
 25  weekdays_tuesday       1203 non-null   uint8
 26  weekdays_wednesday     1203 non-null   uint8
 27  lunch_rice_N           1203 non-null   uint8
 28  lunch_rice_밥           1203 non-null   uint8
 29  new_lunch_N            1203 non-null   uint8
 30  new_lunch_Y            1203 non-null   uint8
dtypes: datetime64[ns](1), float64(6), int64(11), uint8(13)
memory usage: 226.1 KB

In [8]:
df_onehot_dinner.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1203 entries, 0 to 1204
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   datetime               1203 non-null   datetime64[ns]
 1   year                   1203 non-null   int64
 2   month                  1203 non-null   int64
 3   date                   1203 non-null   int64
 4   vacation               1203 non-null   int64
 5   worker_number          1203 non-null   int64
 6   real_number            1203 non-null   int64
 7   vacation_number        1203 non-null   int64
 8   biztrip_number         1203 non-null   int64
 9   overtime_number        1203 non-null   int64
 10  telecom_number         1203 non-null   int64
 11  temperature            1203 non-null   float64
 12  rain                   1203 non-null   float64
 13  wind                   1203 non-null   float64
 14  humidity               1203 non-null   float64
 15  discomfort_index       1203 non-null   float64
 16  perceived_temperature  1203 non-null   float64
 17  dinner_number          1203 non-null   int64
 18  season_fall            1203 non-null   uint8
 19  season_spring          1203 non-null   uint8
 20  season_summer          1203 non-null   uint8
 21  season_winter          1203 non-null   uint8
 22  weekdays_friday        1203 non-null   uint8
 23  weekdays_monday        1203 non-null   uint8
 24  weekdays_thursday      1203 non-null   uint8
 25  weekdays_tuesday       1203 non-null   uint8
 26  weekdays_wednesday     1203 non-null   uint8
 27  dinner_rice_N          1203 non-null   uint8
 28  dinner_rice_밥          1203 non-null   uint8
 29  dinner_rice_잔치국수       1203 non-null   uint8
 30  new_dinner_N           1203 non-null   uint8
 31  new_dinner_Y           1203 non-null   uint8
dtypes: datetime64[ns](1), float64(6), int64(11), uint8(14)
memory usage: 227.3 KB

In [ ]:
### lunch_rice, dinner_rice 부분에서 문제 발생
### lunch_rice, dinner_rice가 밥/특식을 0과 1로 나누지 못한 느낌이 듬
### 밥 부분을 0과 1로 바꾸는 코드 입력하면 끝날 듯