In [1]:
import numpy as np
import pandas as pd
import sqlite3
from os import mkdir
import csv

In [2]:
import sql

# 1. DB 생성
- OK

In [3]:
# sqlite3로 db 파일 생성 / db 내 테이블 만들기 함수
# 폴더 내 data/team3.db가 생성
sql.make_database()

# 2. 데이터 전처리
- OK

In [4]:
data = pd.read_csv("../data/train.csv")
weather = pd.read_csv("../data/weather.csv", encoding='euc-kr')

In [5]:
data.head()

,일자,요일,본사정원수,본사휴가자수,본사출장자수,본사시간외근무명령서승인건수,현본사소속재택근무자수,조식메뉴,중식메뉴,석식메뉴,중식계,석식계
0,2016-02-01,월,2601,50,150,238,0.0,모닝롤/찐빵 우유/두유/주스 계란후라이 호두죽/쌀밥 (쌀:국내산) 된장찌개 쥐...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 오징어찌개 쇠불고기 (쇠고기:호주산) 계란찜 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 육개장 자반고등어구이 두부조림 건파래무침 ...",1039.0,331.0
1,2016-02-02,화,2601,50,173,319,0.0,모닝롤/단호박샌드 우유/두유/주스 계란후라이 팥죽/쌀밥 (쌀:국내산) 호박젓국찌...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 김치찌개 가자미튀김 모둠소세지구이 마늘쫑무...","콩나물밥*양념장 (쌀,현미흑미:국내산) 어묵국 유산슬 (쇠고기:호주산) 아삭고추무...",867.0,560.0
2,2016-02-03,수,2601,56,180,111,0.0,모닝롤/베이글 우유/두유/주스 계란후라이 표고버섯죽/쌀밥 (쌀:국내산) 콩나물국...,"카레덮밥 (쌀,현미흑미:국내산) 팽이장국 치킨핑거 (닭고기:국내산) 쫄면야채무침 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 청국장찌개 황태양념구이 (황태:러시아산) 고기...",1017.0,573.0
3,2016-02-04,목,2601,104,220,355,0.0,"모닝롤/토마토샌드 우유/두유/주스 계란후라이 닭죽/쌀밥 (쌀,닭:국내산) 근대국...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 쇠고기무국 주꾸미볶음 부추전 시금치나물 ...","미니김밥*겨자장 (쌀,현미흑미:국내산) 우동 멕시칸샐러드 군고구마 무피클 포...",978.0,525.0
4,2016-02-05,금,2601,278,181,34,0.0,모닝롤/와플 우유/두유/주스 계란후라이 쇠고기죽/쌀밥 (쌀:국내산) 재첩국 방...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 떡국 돈육씨앗강정 (돼지고기:국내산) 우엉잡채...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 차돌박이찌개 (쇠고기:호주산) 닭갈비 (닭고기:...",925.0,330.0

In [6]:
weather

       지점 지점명          일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)  평균 상대습도(%)
0     192  진주  2016-02-01      -0.6       NaN         1.3        43.9
1     192  진주  2016-02-02      -2.3       NaN         0.8        47.5
2     192  진주  2016-02-03      -1.7       NaN         0.6        57.1
3     192  진주  2016-02-04      -0.2       NaN         0.7        53.4
4     192  진주  2016-02-05       1.3       NaN         1.0        44.4
...   ...  ..         ...       ...       ...         ...         ...
2171  192  진주  2022-01-11       0.1       NaN         2.3        44.4
2172  192  진주  2022-01-12      -2.2       NaN         1.1        42.0
2173  192  진주  2022-01-13      -2.4       NaN         2.0        43.8
2174  192  진주  2022-01-14      -3.0       NaN         0.5        47.5
2175  192  진주  2022-01-15      -0.3       NaN         0.4        50.0

[2176 rows x 7 columns]

In [7]:
Transform = sql.Transform(data, weather)

In [8]:
df = Transform.make_csv()

/Users/hoon/Desktop/Data/vscode/team_project/Forecast_final/module/sql.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.data['dinner_rice'][index] = '밥'
/Users/hoon/Desktop/Data/vscode/team_project/Forecast_final/module/sql.py:265: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.data['dinner_rice'][index] = '밥'

In [9]:
df

,datetime,weekdays,worker_number,real_number,vacation_number,biztrip_number,overtime_number,telecom_number,lunch_number,dinner_number,...,lunch_main,dinner_rice,dinner_soup,dinner_main,temperature,rain,wind,humidity,discomfort_index,perceived_temperature
0,2016-02-01,monday,2601,2401.0,50,150,238,0.0,1039.0,331.0,...,쇠불고기,밥,육개장,자반고등어구이,-0.6,0.0,1.3,43.9,39.275534,0.641548
1,2016-02-02,tuesday,2601,2378.0,50,173,319,0.0,867.0,560.0,...,가자미튀김,콩나물밥*양념장,어묵국,유산슬,-2.3,0.0,0.8,47.5,36.562925,-0.160634
2,2016-02-03,wednesday,2601,2365.0,56,180,111,0.0,1017.0,573.0,...,치킨핑거,밥,청국장찌개,황태양념구이,-1.7,0.0,0.6,57.1,35.796707,0.964631
3,2016-02-04,thursday,2601,2277.0,104,220,355,0.0,978.0,525.0,...,주꾸미볶음,미니김밥*겨자장,우동,멕시칸샐러드,-0.2,0.0,0.7,53.4,38.396068,2.181494
4,2016-02-05,friday,2601,2142.0,278,181,34,0.0,925.0,330.0,...,돈육씨앗강정,밥,차돌박이찌개,닭갈비,1.3,0.0,1.0,44.4,41.575228,3.073400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,2021-01-20,wednesday,2983,2319.0,75,198,4,391.0,1093.0,421.0,...,수제함박스테이크,김치볶음밥,미니쫄우동*맛살튀김,브로콜리깨소스무침,-0.4,0.0,0.5,64.0,36.570560,2.553014
1201,2021-01-21,thursday,2983,2309.0,92,231,462,351.0,832.0,353.0,...,동파육,밥,쇠고기무국,삼치양념구이,5.2,1.7,0.6,77.8,43.391744,7.774119
1202,2021-01-22,friday,2983,2177.0,255,248,1,303.0,579.0,217.0,...,요거닭,밥,수제비국,수제맛쵸킹탕수육,7.0,1.2,0.5,97.5,44.784250,9.778207
1203,2021-01-25,monday,2983,2396.0,107,153,616,327.0,1145.0,502.0,...,돈육간장불고기,밥,열무된장국,장어강정*데리야끼소스,6.3,0.0,1.0,75.8,45.291246,8.163400
1204,2021-01-26,tuesday,2983,2369.0,69,183,551,362.0,1015.0,480.0,...,교촌간장치킨,잔치국수,수제고기육전,쑥갓나물,4.7,10.3,0.6,94.5,40.990585,7.280678

# 3. DB 저장
- Save_DB 클래스에 sql.Transform.make_csv()로 만든 df 넣어주면 된다.

In [10]:
Save_DB = sql.Save_DB(df)

## 1. split
- sql.Save_DB.split()
- df를 ERD에 맞춰 hr, lunch, dinner, weather, calender 다섯 테이블로 나눠준다.
- Save_DB 클래스 내 split 함수 사용
- return 값은 hr, lunch, dinner, weather, calender로 다섯개
- save 함수가 split 결과값을 받아 진행되므로 실제 코드 진행은 save만 입력하면 됨
- 아래 코드는 단순히 잘 split이 되는지 확인하기 위한 용도

In [11]:
hr, lunch, dinner, weather, calender = Save_DB.split()

In [12]:
hr.head()

,datetime,worker_number,real_number,biztrip_number,overtime_number,telecom_number
0,2016-02-01,2601,2401.0,150,238,0.0
1,2016-02-02,2601,2378.0,173,319,0.0
2,2016-02-03,2601,2365.0,180,111,0.0
3,2016-02-04,2601,2277.0,220,355,0.0
4,2016-02-05,2601,2142.0,181,34,0.0

In [13]:
lunch.head()

    datetime new_lunch lunch_rice lunch_soup lunch_main  lunch_number
0 2016-02-01         N          밥      오징어찌개       쇠불고기        1039.0
1 2016-02-02         N          밥       김치찌개      가자미튀김         867.0
2 2016-02-03         N       카레덮밥       팽이장국       치킨핑거        1017.0
3 2016-02-04         N          밥      쇠고기무국      주꾸미볶음         978.0
4 2016-02-05         N          밥         떡국     돈육씨앗강정         925.0

In [14]:
dinner.head()

    datetime new_dinner dinner_rice dinner_soup dinner_main  dinner_number
0 2016-02-01          N           밥         육개장     자반고등어구이          331.0
1 2016-02-02          N    콩나물밥*양념장         어묵국         유산슬          560.0
2 2016-02-03          N           밥       청국장찌개      황태양념구이          573.0
3 2016-02-04          N    미니김밥*겨자장          우동      멕시칸샐러드          525.0
4 2016-02-05          N           밥      차돌박이찌개         닭갈비          330.0

In [15]:
weather.head()

,datetime,temperature,rain,wind,humidity,discomfort_index,perceived_temperature
0,2016-02-01,-0.6,0.0,1.3,43.9,39.275534,0.641548
1,2016-02-02,-2.3,0.0,0.8,47.5,36.562925,-0.160634
2,2016-02-03,-1.7,0.0,0.6,57.1,35.796707,0.964631
3,2016-02-04,-0.2,0.0,0.7,53.4,38.396068,2.181494
4,2016-02-05,1.3,0.0,1.0,44.4,41.575228,3.073400

In [16]:
calender.head()

    datetime  year month date   weekdays  season  vacation
0 2016-02-01  2016    02   01     monday  winter         0
1 2016-02-02  2016    02   02    tuesday  winter         0
2 2016-02-03  2016    02   03  wednesday  winter         0
3 2016-02-04  2016    02   04   thursday  winter         0
4 2016-02-05  2016    02   05     friday  winter         1

## 2. save
- sql.Save_DB.save()
- data 폴더에 데이터 csv파일 잘 저장되는지 확인

In [17]:
Save_DB.save()

# 3. hr_db, lunch_db, ...
- sql.Save_DB.hr_db()
- 이 함수들은 경로 지정이 중요
- 에러 발생시 sql.py에서 저장경로와 csv 파일을 읽는 경로를 확인

In [18]:
Save_DB.hr_db()
Save_DB.lunch_db()
Save_DB.dinner_db()
Save_DB.weather_db()
Save_DB.calendar_db()

# 4. 최종 DB 확인
- 해당 ipynb 파일 경로에 함께 있는 data 폴더에서 team3.db로 확인 가능
- DB Broewse for SQLite로 확인 결과 이상무