In [34]:
import numpy as np
import pandas as pd
import sqlite3
from os import mkdir
import csv

In [35]:
import sql

# 1. DB 생성
- OK

In [36]:
# sqlite3로 db 파일 생성 / db 내 테이블 만들기 함수
# 폴더 내 data/team3.db가 생성
sql.make_database()

# 2. 데이터 전처리

In [37]:
data = pd.read_csv("../data/train.csv")
weather = pd.read_csv("../data/weather.csv", encoding='euc-kr')

In [38]:
data.head()

,일자,요일,본사정원수,본사휴가자수,본사출장자수,본사시간외근무명령서승인건수,현본사소속재택근무자수,조식메뉴,중식메뉴,석식메뉴,중식계,석식계
0,2016-02-01,월,2601,50,150,238,0.0,모닝롤/찐빵 우유/두유/주스 계란후라이 호두죽/쌀밥 (쌀:국내산) 된장찌개 쥐...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 오징어찌개 쇠불고기 (쇠고기:호주산) 계란찜 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 육개장 자반고등어구이 두부조림 건파래무침 ...",1039.0,331.0
1,2016-02-02,화,2601,50,173,319,0.0,모닝롤/단호박샌드 우유/두유/주스 계란후라이 팥죽/쌀밥 (쌀:국내산) 호박젓국찌...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 김치찌개 가자미튀김 모둠소세지구이 마늘쫑무...","콩나물밥*양념장 (쌀,현미흑미:국내산) 어묵국 유산슬 (쇠고기:호주산) 아삭고추무...",867.0,560.0
2,2016-02-03,수,2601,56,180,111,0.0,모닝롤/베이글 우유/두유/주스 계란후라이 표고버섯죽/쌀밥 (쌀:국내산) 콩나물국...,"카레덮밥 (쌀,현미흑미:국내산) 팽이장국 치킨핑거 (닭고기:국내산) 쫄면야채무침 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 청국장찌개 황태양념구이 (황태:러시아산) 고기...",1017.0,573.0
3,2016-02-04,목,2601,104,220,355,0.0,"모닝롤/토마토샌드 우유/두유/주스 계란후라이 닭죽/쌀밥 (쌀,닭:국내산) 근대국...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 쇠고기무국 주꾸미볶음 부추전 시금치나물 ...","미니김밥*겨자장 (쌀,현미흑미:국내산) 우동 멕시칸샐러드 군고구마 무피클 포...",978.0,525.0
4,2016-02-05,금,2601,278,181,34,0.0,모닝롤/와플 우유/두유/주스 계란후라이 쇠고기죽/쌀밥 (쌀:국내산) 재첩국 방...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 떡국 돈육씨앗강정 (돼지고기:국내산) 우엉잡채...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 차돌박이찌개 (쇠고기:호주산) 닭갈비 (닭고기:...",925.0,330.0

In [42]:
weather

       지점 지점명          일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)  평균 상대습도(%)
0     192  진주  2016-02-01      -0.6       NaN         1.3        43.9
1     192  진주  2016-02-02      -2.3       NaN         0.8        47.5
2     192  진주  2016-02-03      -1.7       NaN         0.6        57.1
3     192  진주  2016-02-04      -0.2       NaN         0.7        53.4
4     192  진주  2016-02-05       1.3       NaN         1.0        44.4
...   ...  ..         ...       ...       ...         ...         ...
2171  192  진주  2022-01-11       0.1       NaN         2.3        44.4
2172  192  진주  2022-01-12      -2.2       NaN         1.1        42.0
2173  192  진주  2022-01-13      -2.4       NaN         2.0        43.8
2174  192  진주  2022-01-14      -3.0       NaN         0.5        47.5
2175  192  진주  2022-01-15      -0.3       NaN         0.4        50.0

[2176 rows x 7 columns]

In [40]:
Transform = sql.Transform(data, weather)

In [41]:
data_trans = Transform.transform_data()
weather_trans = Transform.transform_weather()

KeyError: 'weekdays'

In [ ]:
data_trans.head()

In [25]:
weather_trans.head()

       기온  강수량   풍속    습도         일자       불쾌지수      체감온도
0    -0.6  0.0  1.3  43.9 2016-02-01  39.275534  0.641548
1    -2.3  0.0  0.8  47.5 2016-02-02  36.562925 -0.160634
2    -1.7  0.0  0.6  57.1 2016-02-03  35.796707  0.964631
3    -0.2  0.0  0.7  53.4 2016-02-04  38.396068  2.181494
4     1.3  0.0  1.0  44.4 2016-02-05  41.575228  3.073400
...   ...  ...  ...   ...        ...        ...       ...
2171  0.1  0.0  2.3  44.4 2022-01-11  40.075756  0.236622
2172 -2.2  0.0  1.1  42.0 2022-01-12  37.597240 -0.677721
2173 -2.4  0.0  2.0  43.8 2022-01-13  37.051912 -2.138365
2174 -3.0  0.0  0.5  47.5 2022-01-14  35.666750  0.014433
2175 -0.3  0.0  0.4  50.0 2022-01-15  38.758500  3.011305

[2176 rows x 7 columns]