# 1. train_encoding.ipynb
- 머신러닝하기 위해 필요한 데이터 구조 조작 클래스

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from unicodedata import category
import train_encoding

:

# 2. Data 불러오기

In [2]:
lunch = pd.read_csv("data/lunch_df_encoding.csv")
dinner = pd.read_csv("data/dinner_df_encoding.csv")

In [3]:
lunch.head()

,datetime,year,month,date,worker_number,real_number,vacation_number,biztrip_number,overtime_number,telecom_number,...,season_winter,weekdays_friday,weekdays_monday,weekdays_thursday,weekdays_tuesday,weekdays_wednesday,vacation_N,vacation_Y,new_lunch_N,new_lunch_Y
0,2016-02-01,2016,2,1,2601,2401,50,150,238,0,...,1,0,1,0,0,0,1,0,1,0
1,2016-02-02,2016,2,2,2601,2378,50,173,319,0,...,1,0,0,0,1,0,1,0,1,0
2,2016-02-03,2016,2,3,2601,2365,56,180,111,0,...,1,0,0,0,0,1,1,0,1,0
3,2016-02-04,2016,2,4,2601,2277,104,220,355,0,...,1,0,0,1,0,0,1,0,1,0
4,2016-02-05,2016,2,5,2601,2142,278,181,34,0,...,1,1,0,0,0,0,0,1,1,0

In [4]:
dinner.head()

,datetime,year,month,date,worker_number,real_number,vacation_number,biztrip_number,overtime_number,telecom_number,...,season_winter,weekdays_friday,weekdays_monday,weekdays_thursday,weekdays_tuesday,weekdays_wednesday,vacation_N,vacation_Y,new_dinner_N,new_dinner_Y
0,2016-02-01,2016,2,1,2601,2401,50,150,238,0,...,1,0,1,0,0,0,1,0,1,0
1,2016-02-02,2016,2,2,2601,2378,50,173,319,0,...,1,0,0,0,1,0,1,0,1,0
2,2016-02-03,2016,2,3,2601,2365,56,180,111,0,...,1,0,0,0,0,1,1,0,1,0
3,2016-02-04,2016,2,4,2601,2277,104,220,355,0,...,1,0,0,1,0,0,1,0,1,0
4,2016-02-05,2016,2,5,2601,2142,278,181,34,0,...,1,1,0,0,0,0,0,1,1,0

# 3. class 호출 및 테스트

In [5]:
encoding = train_encoding.Train_Encoding(lunch, dinner)

### 1. dropna
- ok

In [6]:
dropna_lunch = encoding.dropna_lunch()
dropna_dinner = encoding.dropna_dinner()

In [7]:
dropna_lunch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1203 entries, 0 to 1204
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   datetime               1203 non-null   object
 1   year                   1203 non-null   int64
 2   month                  1203 non-null   int64
 3   date                   1203 non-null   int64
 4   worker_number          1203 non-null   int64
 5   real_number            1203 non-null   int64
 6   vacation_number        1203 non-null   int64
 7   biztrip_number         1203 non-null   int64
 8   overtime_number        1203 non-null   int64
 9   telecom_number         1203 non-null   int64
 10  temperature            1203 non-null   float64
 11  rain                   1203 non-null   float64
 12  wind                   1203 non-null   float64
 13  humidity               1203 non-null   float64
 14  discomfort_index       1203 non-null   float64
 15  perceived_temperature  1203 non-null   float64
 16  lunch_rice             1203 non-null   int64
 17  lunch_number           1203 non-null   int64
 18  season_fall            1203 non-null   int64
 19  season_spring          1203 non-null   int64
 20  season_summer          1203 non-null   int64
 21  season_winter          1203 non-null   int64
 22  weekdays_friday        1203 non-null   int64
 23  weekdays_monday        1203 non-null   int64
 24  weekdays_thursday      1203 non-null   int64
 25  weekdays_tuesday       1203 non-null   int64
 26  weekdays_wednesday     1203 non-null   int64
 27  vacation_N             1203 non-null   int64
 28  vacation_Y             1203 non-null   int64
 29  new_lunch_N            1203 non-null   int64
 30  new_lunch_Y            1203 non-null   int64
dtypes: float64(6), int64(24), object(1)
memory usage: 300.8+ KB

In [8]:
dropna_dinner.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1203 entries, 0 to 1204
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   datetime               1203 non-null   object
 1   year                   1203 non-null   int64
 2   month                  1203 non-null   int64
 3   date                   1203 non-null   int64
 4   worker_number          1203 non-null   int64
 5   real_number            1203 non-null   int64
 6   vacation_number        1203 non-null   int64
 7   biztrip_number         1203 non-null   int64
 8   overtime_number        1203 non-null   int64
 9   telecom_number         1203 non-null   int64
 10  temperature            1203 non-null   float64
 11  rain                   1203 non-null   float64
 12  wind                   1203 non-null   float64
 13  humidity               1203 non-null   float64
 14  discomfort_index       1203 non-null   float64
 15  perceived_temperature  1203 non-null   float64
 16  dinner_rice            1203 non-null   int64
 17  dinner_number          1203 non-null   int64
 18  season_fall            1203 non-null   int64
 19  season_spring          1203 non-null   int64
 20  season_summer          1203 non-null   int64
 21  season_winter          1203 non-null   int64
 22  weekdays_friday        1203 non-null   int64
 23  weekdays_monday        1203 non-null   int64
 24  weekdays_thursday      1203 non-null   int64
 25  weekdays_tuesday       1203 non-null   int64
 26  weekdays_wednesday     1203 non-null   int64
 27  vacation_N             1203 non-null   int64
 28  vacation_Y             1203 non-null   int64
 29  new_dinner_N           1203 non-null   int64
 30  new_dinner_Y           1203 non-null   int64
dtypes: float64(6), int64(24), object(1)
memory usage: 300.8+ KB

### 2. split
- ok

In [9]:
lunch_X_train, lunch_X_test, lunch_y_train, lunch_y_test = encoding.split_lunch()
dinner_X_train, dinner_X_test, dinner_y_train, dinner_y_test = encoding.split_dinner()

In [10]:
lunch_X_test

,datetime,year,month,date,worker_number,real_number,vacation_number,biztrip_number,overtime_number,telecom_number,...,season_winter,weekdays_friday,weekdays_monday,weekdays_thursday,weekdays_tuesday,weekdays_wednesday,vacation_N,vacation_Y,new_lunch_N,new_lunch_Y
528,2018-03-27,2018,3,27,2714,2404,52,258,408,0,...,0,0,0,0,1,0,1,0,1,0
351,2017-07-05,2017,7,5,2839,2533,46,260,0,0,...,0,0,0,0,0,1,1,0,1,0
186,2016-11-04,2016,11,4,2689,2245,168,276,81,0,...,0,1,0,0,0,0,1,0,1,0
60,2016-05-02,2016,5,2,2635,2341,80,214,302,0,...,0,0,1,0,0,0,1,0,1,0
1174,2020-12-07,2020,12,7,2990,2255,211,185,941,339,...,1,0,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,2016-03-08,2016,3,8,2624,2365,47,212,426,0,...,0,0,0,0,1,0,1,0,1,0
995,2020-02-28,2020,2,28,2872,2421,210,234,0,7,...,1,1,0,0,0,0,1,0,1,0
1087,2020-07-29,2020,7,29,2997,2358,256,233,11,150,...,0,0,0,0,0,1,1,0,1,0
410,2017-09-27,2017,9,27,2642,2307,70,265,0,0,...,0,0,0,0,0,1,1,0,1,0
634,2018-08-30,2018,8,30,2996,2626,106,264,304,0,...,0,0,0,1,0,0,1,0,1,0

### 3. format

In [11]:
lunch_X_train, lunch_X_test, dinner_X_train, dinner_X_test = encoding.format()

TypeError: 'method' object is not subscriptable