In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf
from tensorflow import keras 
from tensorflow.keras import layers
from tensorflow.keras import activations

from keras.layers.core import Dense
from tensorflow.keras.optimizers import Adam,SGD
from keras.utils import np_utils
from keras.callbacks import EarlyStopping

## 2. 데이터 불러오기 & 변환
- one-hot Encoding
- Machine Learning에서 사용한 데이터와 같음
- 딥러닝에선 np.array로 변환해줘야
- dataframe에서 value만 뽑아온다음 3차원 배열로 만들어주면 된다.

In [61]:
lunch_X_train=pd.read_csv("data/split/lunch_X_train.csv")
lunch_X_test=pd.read_csv("data/split/lunch_X_test.csv")
lunch_y_train=pd.read_csv("data/split/lunch_y_train.csv")
lunch_y_test=pd.read_csv("data/split/lunch_y_test.csv")
dinner_X_train=pd.read_csv("data/split/dinner_X_train.csv")
dinner_X_test=pd.read_csv("data/split/dinner_X_test.csv")
dinner_y_train=pd.read_csv("data/split/dinner_y_train.csv")
dinner_y_test=pd.read_csv("data/split/dinner_y_test.csv")

In [62]:
#Feature Scaling이 안되어있다......
lunch_X_train.head()

,worker_number,real_number,vacation_number,biztrip_number,overtime_number,telecom_number,temperature,rain,wind,humidity,...,date_22,date_23,date_24,date_25,date_26,date_27,date_28,date_29,date_30,date_31
0,2990,2212,223,157,5,398,3.0,0.0,0.4,52.4,...,0,0,0,0,0,0,0,0,0,0
1,2665,1934,489,242,5,0,2.1,0.0,1.0,66.3,...,0,0,0,0,0,0,0,1,0,0
2,2714,2392,56,266,438,0,17.4,0.0,1.5,75.8,...,0,0,0,0,0,0,0,0,0,0
3,3305,2071,1026,208,7,0,27.8,0.0,1.9,71.4,...,0,0,0,0,0,0,0,0,0,0
4,3121,2749,112,260,534,0,14.9,0.0,1.0,75.6,...,0,0,0,0,0,0,0,0,0,0

In [63]:
#### 데이터프레임 배열 확인
data_list = [lunch_X_train, lunch_X_test, lunch_y_train, lunch_y_test, dinner_X_train,dinner_X_test,dinner_y_train, dinner_y_test]
for data in data_list:
    print(data.shape)

(902, 75)
(301, 75)
(902, 1)
(301, 1)
(902, 75)
(301, 75)
(902, 1)
(301, 1)

In [64]:
#### 데이터프레임 -> 넘파이 배열로
#### 훈련 돌아야하는 data는 배열을 3차원 배열로 바꿔준다.

# 이거 왜 안됨?
# data_list = [lunch_X_train, lunch_X_test, dinner_X_train, dinner_X_test]
# target_list = [lunch_y_train, lunch_y_test, dinner_y_train, dinner_y_test]
# for X in data_list:
#     X = X.to_numpy()
#     X = X.reshape(X[0], X[1], 1)

# for y in target_list:
#     y = y.to_numpy()

lunch_X_train=lunch_X_train.to_numpy()
lunch_X_train = lunch_X_train.reshape(lunch_X_train.shape[0], lunch_X_train.shape[1], 1)
lunch_X_test=lunch_X_test.to_numpy()
lunch_X_test = lunch_X_test.reshape(lunch_X_test.shape[0], lunch_X_test.shape[1], 1)
lunch_y_train=lunch_y_train.to_numpy()
lunch_y_test=lunch_y_test.to_numpy()
dinner_X_train=dinner_X_train.to_numpy()
dinner_X_train = dinner_X_train.reshape(dinner_X_train.shape[0], dinner_X_train.shape[1], 1)
dinner_X_test=dinner_X_test.to_numpy()
dinner_X_test = dinner_X_test.reshape(dinner_X_test.shape[0], dinner_X_test.shape[1], 1)
dinner_y_train=dinner_y_train.to_numpy()
dinner_y_test=dinner_y_test.to_numpy()

In [65]:
# 확인
lunch_X_train.shape

(902, 75, 1)

## 3. LSTM 모델 구현

In [ ]:
model = keras.Sequential([
    layers.LSTM(128, input_shape=(None, 128)),
    layers.Dense
])