In [2]:
import numpy as np   # 수 연산
import pandas as pd   # 데이터분석
import matplotlib.pyplot as plt    # 시각화
import seaborn as sns   # 샘플 + 화려함

import matplotlib.font_manager as fm # 한글폰트를 쓰기 위한 방법(?)
font_name = fm.FontProperties(fname="C:/Windows/Fonts/malgun.ttf").get_name()
plt.rc("font", family=font_name)

import matplotlib as mpl
mpl.rcParams["axes.unicode_minus"] = False

import operator
from numpy import linalg

#머신러닝 관련(사이킷런)
import mglearn

from sklearn.model_selection import train_test_split, KFold, StratifiedKFold, cross_val_score, GridSearchCV

In [1]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_curve
from sklearn.metrics import precision_score, recall_score

from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler

from sklearn.linear_model import LinearRegression

from sklearn.svm import LinearSVR

import xgboost as xgb
from xgboost import XGBClassifier, XGBRegressor
from xgboost import plot_importance, plot_tree

from lightgbm import LGBMClassifier, LGBMRegressor
from lightgbm import plot_importance, plot_tree, plot_metric

from sklearn.svm import SVR, SVC

from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.linear_model import Perceptron
from sklearn.neural_network import MLPClassifier

import statsmodels.api as sm

# 구내식당 중식 인원 머신러닝
+ 일반 선형회귀, 릿지모델, 라쏘모델
+ XGBRegressor
+ LGBMResgressor
+ SVR

In [96]:
ln_train = pd.read_csv("../byun/data/lunch_df_encoding.csv", encoding="utf-8")
ln_train

,datetime,year,month,date,worker_number,real_number,vacation_number,biztrip_number,overtime_number,telecom_number,...,season_winter,weekdays_friday,weekdays_monday,weekdays_thursday,weekdays_tuesday,weekdays_wednesday,vacation_N,vacation_Y,new_lunch_N,new_lunch_Y
0,2016-02-01,2016,2,1,2601,2401,50,150,238,0,...,1,0,1,0,0,0,1,0,1,0
1,2016-02-02,2016,2,2,2601,2378,50,173,319,0,...,1,0,0,0,1,0,1,0,1,0
2,2016-02-03,2016,2,3,2601,2365,56,180,111,0,...,1,0,0,0,0,1,1,0,1,0
3,2016-02-04,2016,2,4,2601,2277,104,220,355,0,...,1,0,0,1,0,0,1,0,1,0
4,2016-02-05,2016,2,5,2601,2142,278,181,34,0,...,1,1,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,2021-01-20,2021,1,20,2983,2319,75,198,4,391,...,1,0,0,0,0,1,1,0,1,0
1201,2021-01-21,2021,1,21,2983,2309,92,231,462,351,...,1,0,0,1,0,0,1,0,1,0
1202,2021-01-22,2021,1,22,2983,2177,255,248,1,303,...,1,1,0,0,0,0,1,0,1,0
1203,2021-01-25,2021,1,25,2983,2396,107,153,616,327,...,1,0,1,0,0,0,1,0,1,0
1204,2021-01-26,2021,1,26,2983,2369,69,183,551,362,...,1,0,0,0,1,0,1,0,1,0

In [97]:
ln_train.info()
ln_train.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   datetime               1205 non-null   object
 1   year                   1205 non-null   int64
 2   month                  1205 non-null   int64
 3   date                   1205 non-null   int64
 4   worker_number          1205 non-null   int64
 5   real_number            1205 non-null   int64
 6   vacation_number        1205 non-null   int64
 7   biztrip_number         1205 non-null   int64
 8   overtime_number        1205 non-null   int64
 9   telecom_number         1205 non-null   int64
 10  temperature            1204 non-null   float64
 11  rain                   1205 non-null   float64
 12  wind                   1204 non-null   float64
 13  humidity               1205 non-null   float64
 14  discomfort_index       1204 non-null   float64
 15  perceived_temperature  1203 non-null   float64
 16  lunch_rice             1205 non-null   int64
 17  lunch_number           1205 non-null   int64
 18  season_fall            1205 non-null   int64
 19  season_spring          1205 non-null   int64
 20  season_summer          1205 non-null   int64
 21  season_winter          1205 non-null   int64
 22  weekdays_friday        1205 non-null   int64
 23  weekdays_monday        1205 non-null   int64
 24  weekdays_thursday      1205 non-null   int64
 25  weekdays_tuesday       1205 non-null   int64
 26  weekdays_wednesday     1205 non-null   int64
 27  vacation_N             1205 non-null   int64
 28  vacation_Y             1205 non-null   int64
 29  new_lunch_N            1205 non-null   int64
 30  new_lunch_Y            1205 non-null   int64
dtypes: float64(6), int64(24), object(1)
memory usage: 292.0+ KB

(1205, 31)

In [98]:
ln_train.isnull().sum() #칼럼별 결측치 수

datetime                 0
year                     0
month                    0
date                     0
worker_number            0
real_number              0
vacation_number          0
biztrip_number           0
overtime_number          0
telecom_number           0
temperature              1
rain                     0
wind                     1
humidity                 0
discomfort_index         1
perceived_temperature    2
lunch_rice               0
lunch_number             0
season_fall              0
season_spring            0
season_summer            0
season_winter            0
weekdays_friday          0
weekdays_monday          0
weekdays_thursday        0
weekdays_tuesday         0
weekdays_wednesday       0
vacation_N               0
vacation_Y               0
new_lunch_N              0
new_lunch_Y              0
dtype: int64

In [99]:
ln_train = ln_train.dropna()
ln_train

,datetime,year,month,date,worker_number,real_number,vacation_number,biztrip_number,overtime_number,telecom_number,...,season_winter,weekdays_friday,weekdays_monday,weekdays_thursday,weekdays_tuesday,weekdays_wednesday,vacation_N,vacation_Y,new_lunch_N,new_lunch_Y
0,2016-02-01,2016,2,1,2601,2401,50,150,238,0,...,1,0,1,0,0,0,1,0,1,0
1,2016-02-02,2016,2,2,2601,2378,50,173,319,0,...,1,0,0,0,1,0,1,0,1,0
2,2016-02-03,2016,2,3,2601,2365,56,180,111,0,...,1,0,0,0,0,1,1,0,1,0
3,2016-02-04,2016,2,4,2601,2277,104,220,355,0,...,1,0,0,1,0,0,1,0,1,0
4,2016-02-05,2016,2,5,2601,2142,278,181,34,0,...,1,1,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,2021-01-20,2021,1,20,2983,2319,75,198,4,391,...,1,0,0,0,0,1,1,0,1,0
1201,2021-01-21,2021,1,21,2983,2309,92,231,462,351,...,1,0,0,1,0,0,1,0,1,0
1202,2021-01-22,2021,1,22,2983,2177,255,248,1,303,...,1,1,0,0,0,0,1,0,1,0
1203,2021-01-25,2021,1,25,2983,2396,107,153,616,327,...,1,0,1,0,0,0,1,0,1,0
1204,2021-01-26,2021,1,26,2983,2369,69,183,551,362,...,1,0,0,0,1,0,1,0,1,0

In [108]:
ln_test = pd.read_csv("../byun/data/lunch_test_encoding.csv", encoding="utf-8")
ln_test

,datetime,year,month,date,worker_number,real_number,vacation_number,biztrip_number,overtime_number,telecom_number,...,season_winter,weekdays_friday,weekdays_monday,weekdays_thursday,weekdays_tuesday,weekdays_wednesday,vacation_N,vacation_Y,new_lunch_N,new_lunch_Y
0,2021-01-27,2021,1,27,2983,2355.0,88,182,5,358.0,...,1,0,0,0,0,1,1,0,1,0
1,2021-01-28,2021,1,28,2983,2319.0,104,212,409,348.0,...,1,0,0,1,0,0,1,0,1,0
2,2021-01-29,2021,1,29,2983,2170.0,270,249,0,294.0,...,1,1,0,0,0,0,1,0,1,0
3,2021-02-01,2021,2,1,2924,2340.0,108,154,538,322.0,...,1,0,1,0,0,0,1,0,1,0
4,2021-02-02,2021,2,2,2924,2362.0,62,186,455,314.0,...,1,0,0,0,1,0,1,0,1,0
5,2021-02-03,2021,2,3,2924,2380.0,59,199,5,286.0,...,1,0,0,0,0,1,1,0,1,0
6,2021-02-04,2021,2,4,2924,2364.0,61,211,476,288.0,...,1,0,0,1,0,0,1,0,1,0
7,2021-02-05,2021,2,5,2924,2247.0,169,252,0,256.0,...,1,1,0,0,0,0,1,0,1,0
8,2021-02-08,2021,2,8,2924,2333.0,88,174,690,329.0,...,1,0,1,0,0,0,1,0,1,0
9,2021-02-09,2021,2,9,2924,2318.0,94,183,542,329.0,...,1,0,0,0,1,0,1,0,1,0
10,2021-02-10,2021,2,10,2924,2068.0,489,134,0,233.0,...,1,0,0,0,0,1,0,1,1,0
11,2021-02-15,2021,2,15,2924,2260.0,178,131,795,355.0,...,1,0,1,0,0,0,1,0,1,0
12,2021-02-16,2021,2,16,2924,2266.0,70,175,815,413.0,...,1,0,0,0,1,0,1,0,1,0
13,2021-02-17,2021,2,17,2924,2287.0,77,181,3,379.0,...,1,0,0,0,0,1,1,0,1,0
14,2021-02-18,2021,2,18,2924,2256.0,83,247,594,338.0,...,1,0,0,1,0,0,1,0,1,0
15,2021-02-19,2021,2,19,2924,2200.0,176,268,1,280.0,...,1,1,0,0,0,0,1,0,1,0
16,2021-02-22,2021,2,22,2924,2375.0,105,197,814,247.0,...,1,0,1,0,0,0,1,0,1,0
17,2021-02-23,2021,2,23,2924,2416.0,75,200,783,233.0,...,1,0,0,0,1,0,1,0,1,0
18,2021-02-24,2021,2,24,2924,2378.0,77,235,3,234.0,...,1,0,0,0,0,1,1,0,1,0
19,2021-02-25,2021,2,25,2924,2346.0,91,252,585,235.0,...,1,0,0,1,0,0,1,0,1,0
20,2021-02-26,2021,2,26,2924,2205.0,261,279,1,179.0,...,1,1,0,0,0,0,0,1,1,0
21,2021-03-02,2021,3,2,2975,2422.0,139,166,781,248.0,...,0,0,0,0,1,0,1,0,1,0
22,2021-03-03,2021,3,3,2975,2438.0,50,195,1,292.0,...,0,0,0,0,0,1,1,0,1,0
23,2021-03-04,2021,3,4,2975,2404.0,72,236,746,263.0,...,0,0,0,1,0,0,1,0,1,0
24,2021-03-05,2021,3,5,2975,2334.0,158,257,2,226.0,...,0,1,0,0,0,0,1,0,1,0
25,2021-03-08,2021,3,8,2975,2444.0,97,170,939,264.0,...,0,0,1,0,0,0,1,0,0,1
26,2021-03-09,2021,3,9,2975,2447.0,76,170,1003,282.0,...,0,0,0,0,1,0,1,0,1,0
27,2021-03-10,2021,3,10,2975,2448.0,71,185,1,271.0,...,0,0,0,0,0,1,1,0,1,0
28,2021-03-11,2021,3,11,2975,2398.0,93,223,609,261.0,...,0,0,0,1,0,0,1,0,1,0
29,2021-03-12,2021,3,12,2975,2243.0,241,240,0,251.0,...,0,1,0,0,0,0,1,0,1,0
30,2021-03-15,2021,3,15,2975,2387.0,126,148,864,314.0,...,0,0,1,0,0,0,1,0,1,0
31,2021-03-16,2021,3,16,2975,2324.0,74,176,658,401.0,...,0,0,0,0,1,0,1,0,1,0
32,2021-03-17,2021,3,17,2975,2322.0,90,192,4,371.0,...,0,0,0,0,0,1,1,0,1,0
33,2021-03-18,2021,3,18,2975,2287.0,106,231,520,351.0,...,0,0,0,1,0,0,1,0,1,0
34,2021-03-19,2021,3,19,2975,2201.0,253,255,0,266.0,...,0,1,0,0,0,0,1,0,0,1
35,2021-03-22,2021,3,22,2975,2326.0,133,166,707,350.0,...,0,0,1,0,0,0,1,0,1,0
36,2021-03-23,2021,3,23,2975,2339.0,82,205,688,349.0,...,0,0,0,0,1,0,1,0,1,0
37,2021-03-24,2021,3,24,2975,2340.0,87,234,0,314.0,...,0,0,0,0,0,1,1,0,1,0
38,2021-03-25,2021,3,25,2975,2300.0,118,260,441,297.0,...,0,0,0,1,0,0,1,0,1,0
39,2021-03-26,2021,3,26,2975,2169.0,311,266,0,229.0,...,0,1,0,0,0,0,1,0,1,0
40,2021-03-29,2021,3,29,2975,2358.0,121,178,660,318.0,...,0,0,1,0,0,0,1,0,1,0
41,2021-03-30,2021,3,30,2975,2381.0,83,198,625,313.0,...,0,0,0,0,1,0,1,0,1,0
42,2021-03-31,2021,3,31,2975,2355.0,86,217,0,317.0,...,0,0,0,0,0,1,1,0,1,0
43,2021-04-01,2021,4,1,2973,2326.0,88,256,394,303.0,...,0,0,0,1,0,0,1,0,1,0
44,2021-04-02,2021,4,2,2973,2202.0,275,272,0,224.0,...,0,1,0,0,0,0,1,0,1,0
45,2021-04-05,2021,4,5,2973,2343.0,125,174,704,331.0,...,0,0,1,0,0,0,1,0,1,0
46,2021-04-06,2021,4,6,2973,2363.0,76,170,636,364.0,...,0,0,0,0,1,0,1,0,1,0
47,2021-04-07,2021,4,7,2973,2329.0,96,214,1,334.0,...,0,0,0,0,0,1,1,0,1,0
48,2021-04-08,2021,4,8,2973,2306.0,105,238,509,324.0,...,0,0,0,1,0,0,1,0,0,1
49,2021-04-09,2021,4,9,2973,2217.0,259,268,0,229.0,...,0,1,0,0,0,0,1,0,1,0

## 선형회귀(일반)

In [101]:
X_train = ln_train[['year','month','date','worker_number','real_number','vacation_number','biztrip_number','overtime_number','telecom_number',
             'temperature','rain','wind','humidity','discomfort_index','perceived_temperature','lunch_rice','season_fall','season_spring',
             'season_summer','season_winter','weekdays_friday','weekdays_monday','weekdays_thursday','weekdays_tuesday','weekdays_wednesday',
             'vacation_N','vacation_Y','new_lunch_N','new_lunch_Y']]

y_train = ln_train["lunch_number"]

In [102]:
lr = LinearRegression().fit(X_train, y_train)

In [103]:
print("훈련 점수 : ", lr.score(X_train, y_train))

훈련 점수 :  0.7743430539169095

In [104]:
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, random_state=0)
lr = LinearRegression().fit(X_train, y_train)

In [105]:
print("훈련 점수 : ", lr.score(X_train, y_train))
print("테스트 점수 : ", lr.score(X_test, y_test))

훈련 점수 :  0.7848986173519543
테스트 점수 :  0.7964245248497636

## 릿지회귀모델

In [106]:
from sklearn.linear_model import Ridge

ridge = Ridge().fit(X_train, y_train) # Ridge(alpha=1.0) 이 디폴트

print("훈련 점수 : ", ridge.score(X_train, y_train))
print("테스트 점수 : ", ridge.score(X_test, y_test))

ridge10 = Ridge(alpha=10).fit(X_train, y_train) # Ridge(alpha=1.0) 이 디폴트

print("훈련 점수 : ", ridge10.score(X_train, y_train))
print("테스트 점수 : ", ridge10.score(X_test, y_test))


ridge01 = Ridge(alpha=0.000000001).fit(X_train, y_train) # Ridge(alpha=1.0) 이 디폴트

print("훈련 점수 : ", ridge01.score(X_train, y_train))
print("테스트 점수 : ", ridge01.score(X_test, y_test))

훈련 점수 :  0.785750892409135
테스트 점수 :  0.7939237427269235
훈련 점수 :  0.7847089874999071
테스트 점수 :  0.7936329969012887
훈련 점수 :  0.785764424924516
테스트 점수 :  0.7938239417025961

## 라쏘회귀모델

In [107]:
from sklearn.linear_model import Lasso

lasso = Lasso().fit(X_train, y_train) #Lasso(alpha=1) 디폴트

print("훈련 점수 : ", lasso.score(X_train, y_train))
print("테스트 점수 : ", lasso.score(X_test, y_test)) 

print("사용한 특성의 수 : ", np.sum(lasso.coef_ != 0)) 
lasso001 = Lasso(alpha=0.01).fit(X_train, y_train)

print("훈련 점수 : ", lasso001.score(X_train, y_train))
print("테스트 점수 : ", lasso001.score(X_test, y_test))

print("사용한 특성의 수 : ", np.sum(lasso001.coef_ != 0))

lasso00001 = Lasso(alpha=0.000000001).fit(X_train, y_train)

print("훈련 점수 : ", lasso00001.score(X_train, y_train))
print("테스트 점수 : ", lasso00001.score(X_test, y_test)) 

print("사용한 특성의 수 : ", np.sum(lasso00001.coef_ != 0))

훈련 점수 :  0.7817039925408038
테스트 점수 :  0.7883245851474749
사용한 특성의 수 :  24
훈련 점수 :  0.7857636760204345
테스트 점수 :  0.7937909609765834
사용한 특성의 수 :  28
훈련 점수 :  0.7857643487990997
테스트 점수 :  0.7938014642621193
사용한 특성의 수 :  27

C:\Users\tagos71\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 59495.01217186265, tolerance: 3931.371726385809
  model = cd_fast.enet_coordinate_descent(
C:\Users\tagos71\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 239452.64568418264, tolerance: 3931.371726385809
  model = cd_fast.enet_coordinate_descent(
C:\Users\tagos71\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4211199.470651516, tolerance: 3931.371726385809
  model = cd_fast.enet_coordinate_descent(

# 구내식당 석식 인원 예측 모델

In [109]:
dn_train = pd.read_csv("../byun/data/dinner_df_encoding.csv", encoding="utf-8")
dn_train

,datetime,year,month,date,worker_number,real_number,vacation_number,biztrip_number,overtime_number,telecom_number,...,season_winter,weekdays_friday,weekdays_monday,weekdays_thursday,weekdays_tuesday,weekdays_wednesday,vacation_N,vacation_Y,new_dinner_N,new_dinner_Y
0,2016-02-01,2016,2,1,2601,2401,50,150,238,0,...,1,0,1,0,0,0,1,0,1,0
1,2016-02-02,2016,2,2,2601,2378,50,173,319,0,...,1,0,0,0,1,0,1,0,1,0
2,2016-02-03,2016,2,3,2601,2365,56,180,111,0,...,1,0,0,0,0,1,1,0,1,0
3,2016-02-04,2016,2,4,2601,2277,104,220,355,0,...,1,0,0,1,0,0,1,0,1,0
4,2016-02-05,2016,2,5,2601,2142,278,181,34,0,...,1,1,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,2021-01-20,2021,1,20,2983,2319,75,198,4,391,...,1,0,0,0,0,1,1,0,1,0
1201,2021-01-21,2021,1,21,2983,2309,92,231,462,351,...,1,0,0,1,0,0,1,0,1,0
1202,2021-01-22,2021,1,22,2983,2177,255,248,1,303,...,1,1,0,0,0,0,1,0,1,0
1203,2021-01-25,2021,1,25,2983,2396,107,153,616,327,...,1,0,1,0,0,0,1,0,1,0
1204,2021-01-26,2021,1,26,2983,2369,69,183,551,362,...,1,0,0,0,1,0,1,0,0,1

In [110]:
dn_test = pd.read_csv("../byun/data/dinner_test_encoding.csv", encoding="utf-8")
dn_test

,datetime,year,month,date,worker_number,real_number,vacation_number,biztrip_number,overtime_number,telecom_number,...,season_winter,weekdays_friday,weekdays_monday,weekdays_thursday,weekdays_tuesday,weekdays_wednesday,vacation_N,vacation_Y,new_dinner_N,new_dinner_Y
0,2021-01-27,2021,1,27,2983,2355.0,88,182,5,358.0,...,1,0,0,0,0,1,1,0,0,1
1,2021-01-28,2021,1,28,2983,2319.0,104,212,409,348.0,...,1,0,0,1,0,0,1,0,1,0
2,2021-01-29,2021,1,29,2983,2170.0,270,249,0,294.0,...,1,1,0,0,0,0,1,0,1,0
3,2021-02-01,2021,2,1,2924,2340.0,108,154,538,322.0,...,1,0,1,0,0,0,1,0,1,0
4,2021-02-02,2021,2,2,2924,2362.0,62,186,455,314.0,...,1,0,0,0,1,0,1,0,1,0
5,2021-02-03,2021,2,3,2924,2380.0,59,199,5,286.0,...,1,0,0,0,0,1,1,0,1,0
6,2021-02-04,2021,2,4,2924,2364.0,61,211,476,288.0,...,1,0,0,1,0,0,1,0,1,0
7,2021-02-05,2021,2,5,2924,2247.0,169,252,0,256.0,...,1,1,0,0,0,0,1,0,1,0
8,2021-02-08,2021,2,8,2924,2333.0,88,174,690,329.0,...,1,0,1,0,0,0,1,0,1,0
9,2021-02-09,2021,2,9,2924,2318.0,94,183,542,329.0,...,1,0,0,0,1,0,1,0,1,0
10,2021-02-10,2021,2,10,2924,2068.0,489,134,0,233.0,...,1,0,0,0,0,1,0,1,1,0
11,2021-02-15,2021,2,15,2924,2260.0,178,131,795,355.0,...,1,0,1,0,0,0,1,0,1,0
12,2021-02-16,2021,2,16,2924,2266.0,70,175,815,413.0,...,1,0,0,0,1,0,1,0,1,0
13,2021-02-17,2021,2,17,2924,2287.0,77,181,3,379.0,...,1,0,0,0,0,1,1,0,1,0
14,2021-02-18,2021,2,18,2924,2256.0,83,247,594,338.0,...,1,0,0,1,0,0,1,0,1,0
15,2021-02-19,2021,2,19,2924,2200.0,176,268,1,280.0,...,1,1,0,0,0,0,1,0,1,0
16,2021-02-22,2021,2,22,2924,2375.0,105,197,814,247.0,...,1,0,1,0,0,0,1,0,1,0
17,2021-02-23,2021,2,23,2924,2416.0,75,200,783,233.0,...,1,0,0,0,1,0,1,0,1,0
18,2021-02-24,2021,2,24,2924,2378.0,77,235,3,234.0,...,1,0,0,0,0,1,1,0,1,0
19,2021-02-25,2021,2,25,2924,2346.0,91,252,585,235.0,...,1,0,0,1,0,0,1,0,1,0
20,2021-02-26,2021,2,26,2924,2205.0,261,279,1,179.0,...,1,1,0,0,0,0,0,1,1,0
21,2021-03-02,2021,3,2,2975,2422.0,139,166,781,248.0,...,0,0,0,0,1,0,1,0,1,0
22,2021-03-03,2021,3,3,2975,2438.0,50,195,1,292.0,...,0,0,0,0,0,1,1,0,0,1
23,2021-03-04,2021,3,4,2975,2404.0,72,236,746,263.0,...,0,0,0,1,0,0,1,0,1,0
24,2021-03-05,2021,3,5,2975,2334.0,158,257,2,226.0,...,0,1,0,0,0,0,1,0,1,0
25,2021-03-08,2021,3,8,2975,2444.0,97,170,939,264.0,...,0,0,1,0,0,0,1,0,1,0
26,2021-03-09,2021,3,9,2975,2447.0,76,170,1003,282.0,...,0,0,0,0,1,0,1,0,1,0
27,2021-03-10,2021,3,10,2975,2448.0,71,185,1,271.0,...,0,0,0,0,0,1,1,0,1,0
28,2021-03-11,2021,3,11,2975,2398.0,93,223,609,261.0,...,0,0,0,1,0,0,1,0,1,0
29,2021-03-12,2021,3,12,2975,2243.0,241,240,0,251.0,...,0,1,0,0,0,0,1,0,1,0
30,2021-03-15,2021,3,15,2975,2387.0,126,148,864,314.0,...,0,0,1,0,0,0,1,0,1,0
31,2021-03-16,2021,3,16,2975,2324.0,74,176,658,401.0,...,0,0,0,0,1,0,1,0,1,0
32,2021-03-17,2021,3,17,2975,2322.0,90,192,4,371.0,...,0,0,0,0,0,1,1,0,1,0
33,2021-03-18,2021,3,18,2975,2287.0,106,231,520,351.0,...,0,0,0,1,0,0,1,0,0,1
34,2021-03-19,2021,3,19,2975,2201.0,253,255,0,266.0,...,0,1,0,0,0,0,1,0,1,0
35,2021-03-22,2021,3,22,2975,2326.0,133,166,707,350.0,...,0,0,1,0,0,0,1,0,1,0
36,2021-03-23,2021,3,23,2975,2339.0,82,205,688,349.0,...,0,0,0,0,1,0,1,0,1,0
37,2021-03-24,2021,3,24,2975,2340.0,87,234,0,314.0,...,0,0,0,0,0,1,1,0,1,0
38,2021-03-25,2021,3,25,2975,2300.0,118,260,441,297.0,...,0,0,0,1,0,0,1,0,1,0
39,2021-03-26,2021,3,26,2975,2169.0,311,266,0,229.0,...,0,1,0,0,0,0,1,0,1,0
40,2021-03-29,2021,3,29,2975,2358.0,121,178,660,318.0,...,0,0,1,0,0,0,1,0,1,0
41,2021-03-30,2021,3,30,2975,2381.0,83,198,625,313.0,...,0,0,0,0,1,0,1,0,1,0
42,2021-03-31,2021,3,31,2975,2355.0,86,217,0,317.0,...,0,0,0,0,0,1,1,0,1,0
43,2021-04-01,2021,4,1,2973,2326.0,88,256,394,303.0,...,0,0,0,1,0,0,1,0,1,0
44,2021-04-02,2021,4,2,2973,2202.0,275,272,0,224.0,...,0,1,0,0,0,0,1,0,1,0
45,2021-04-05,2021,4,5,2973,2343.0,125,174,704,331.0,...,0,0,1,0,0,0,1,0,1,0
46,2021-04-06,2021,4,6,2973,2363.0,76,170,636,364.0,...,0,0,0,0,1,0,1,0,1,0
47,2021-04-07,2021,4,7,2973,2329.0,96,214,1,334.0,...,0,0,0,0,0,1,1,0,1,0
48,2021-04-08,2021,4,8,2973,2306.0,105,238,509,324.0,...,0,0,0,1,0,0,1,0,1,0
49,2021-04-09,2021,4,9,2973,2217.0,259,268,0,229.0,...,0,1,0,0,0,0,1,0,1,0