In [1]:
import sqlite3
import pandas as pd
import utils

In [2]:
lunch = utils.read_lunch_SQL()
dinner = utils.read_dinner_SQL()

In [3]:
lunch

,lunch_number,datetime,vacation,worker_number,real_number,biztrip_number,overtime_number,telecom_number,vacation_number,new_lunch,lunch_rice,temperature,rain,wind,humidity,discomfort_index,perceived_temperature
0,1039,2016-02-01,0,2601,2401,150,238,0,50,N,밥,-0.6,0.0,1.3,43.9,39.275534,0.641548
1,867,2016-02-02,0,2601,2378,173,319,0,50,N,밥,-2.3,0.0,0.8,47.5,36.562925,-0.160634
2,1017,2016-02-03,0,2601,2365,180,111,0,56,N,카레덮밥,-1.7,0.0,0.6,57.1,35.796707,0.964631
3,978,2016-02-04,0,2601,2277,220,355,0,104,N,밥,-0.2,0.0,0.7,53.4,38.396068,2.181494
4,925,2016-02-05,1,2601,2142,181,34,0,278,N,밥,1.3,0.0,1.0,44.4,41.575228,3.0734
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,1093,2021-01-20,0,2983,2319,198,4,391,75,N,밥,-0.4,0.0,0.5,64.0,36.57056,2.553014
1201,832,2021-01-21,0,2983,2309,231,462,351,92,N,밥,5.2,1.7,0.6,77.8,43.391744,7.774119
1202,579,2021-01-22,0,2983,2177,248,1,303,255,N,전주비빔밥*약고추장,7.0,1.2,0.5,97.5,44.78425,9.778207
1203,1145,2021-01-25,0,2983,2396,153,616,327,107,N,밥,6.3,0.0,1.0,75.8,45.291246,8.1634
1204,1015,2021-01-26,0,2983,2369,183,551,362,69,N,밥,4.7,10.3,0.6,94.5,40.990585,7.280678

In [4]:
dinner

,dinner_number,datetime,vacation,worker_number,real_number,biztrip_number,overtime_number,telecom_number,vacation_number,new_dinner,dinner_rice,temperature,rain,wind,humidity,discomfort_index,perceived_temperature
0,331,2016-02-01,0,2601,2401,150,238,0,50,N,밥,-0.6,0.0,1.3,43.9,39.275534,0.641548
1,560,2016-02-02,0,2601,2378,173,319,0,50,N,콩나물밥*양념장,-2.3,0.0,0.8,47.5,36.562925,-0.160634
2,573,2016-02-03,0,2601,2365,180,111,0,56,N,밥,-1.7,0.0,0.6,57.1,35.796707,0.964631
3,525,2016-02-04,0,2601,2277,220,355,0,104,N,미니김밥*겨자장,-0.2,0.0,0.7,53.4,38.396068,2.181494
4,330,2016-02-05,1,2601,2142,181,34,0,278,N,밥,1.3,0.0,1.0,44.4,41.575228,3.0734
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,421,2021-01-20,0,2983,2319,198,4,391,75,N,김치볶음밥,-0.4,0.0,0.5,64.0,36.57056,2.553014
1201,353,2021-01-21,0,2983,2309,231,462,351,92,N,밥,5.2,1.7,0.6,77.8,43.391744,7.774119
1202,217,2021-01-22,0,2983,2177,248,1,303,255,N,밥,7.0,1.2,0.5,97.5,44.78425,9.778207
1203,502,2021-01-25,0,2983,2396,153,616,327,107,N,밥,6.3,0.0,1.0,75.8,45.291246,8.1634
1204,480,2021-01-26,0,2983,2369,183,551,362,69,Y,잔치국수,4.7,10.3,0.6,94.5,40.990585,7.280678

In [5]:
lunch_X, lunch_y = utils.preprocessing(lunch)
dinner_X, dinner_y = utils.preprocessing(dinner)

In [6]:
lunch_X

,datetime,vacation,worker_number,real_number,biztrip_number,overtime_number,telecom_number,vacation_number,new_lunch,lunch_rice,temperature,rain,wind,humidity,discomfort_index
0,2016-02-01,0,2601,2401,150,238,0,50,N,밥,-0.6,0.0,1.3,43.9,39.275534
1,2016-02-02,0,2601,2378,173,319,0,50,N,밥,-2.3,0.0,0.8,47.5,36.562925
2,2016-02-03,0,2601,2365,180,111,0,56,N,카레덮밥,-1.7,0.0,0.6,57.1,35.796707
3,2016-02-04,0,2601,2277,220,355,0,104,N,밥,-0.2,0.0,0.7,53.4,38.396068
4,2016-02-05,1,2601,2142,181,34,0,278,N,밥,1.3,0.0,1.0,44.4,41.575228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,2021-01-20,0,2983,2319,198,4,391,75,N,밥,-0.4,0.0,0.5,64.0,36.57056
1201,2021-01-21,0,2983,2309,231,462,351,92,N,밥,5.2,1.7,0.6,77.8,43.391744
1202,2021-01-22,0,2983,2177,248,1,303,255,N,전주비빔밥*약고추장,7.0,1.2,0.5,97.5,44.78425
1203,2021-01-25,0,2983,2396,153,616,327,107,N,밥,6.3,0.0,1.0,75.8,45.291246
1204,2021-01-26,0,2983,2369,183,551,362,69,N,밥,4.7,10.3,0.6,94.5,40.990585

In [7]:
lunch_y

      lunch_number
0             1039
1              867
2             1017
3              978
4              925
...            ...
1200          1093
1201           832
1202           579
1203          1145
1204          1015

[1205 rows x 1 columns]

In [8]:
dinner_X

,datetime,vacation,worker_number,real_number,biztrip_number,overtime_number,telecom_number,vacation_number,new_dinner,dinner_rice,temperature,rain,wind,humidity,discomfort_index
0,2016-02-01,0,2601,2401,150,238,0,50,N,밥,-0.6,0.0,1.3,43.9,39.275534
1,2016-02-02,0,2601,2378,173,319,0,50,N,콩나물밥*양념장,-2.3,0.0,0.8,47.5,36.562925
2,2016-02-03,0,2601,2365,180,111,0,56,N,밥,-1.7,0.0,0.6,57.1,35.796707
3,2016-02-04,0,2601,2277,220,355,0,104,N,미니김밥*겨자장,-0.2,0.0,0.7,53.4,38.396068
4,2016-02-05,1,2601,2142,181,34,0,278,N,밥,1.3,0.0,1.0,44.4,41.575228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,2021-01-20,0,2983,2319,198,4,391,75,N,김치볶음밥,-0.4,0.0,0.5,64.0,36.57056
1201,2021-01-21,0,2983,2309,231,462,351,92,N,밥,5.2,1.7,0.6,77.8,43.391744
1202,2021-01-22,0,2983,2177,248,1,303,255,N,밥,7.0,1.2,0.5,97.5,44.78425
1203,2021-01-25,0,2983,2396,153,616,327,107,N,밥,6.3,0.0,1.0,75.8,45.291246
1204,2021-01-26,0,2983,2369,183,551,362,69,Y,잔치국수,4.7,10.3,0.6,94.5,40.990585

In [9]:
dinner_y

      dinner_number
0               331
1               560
2               573
3               525
4               330
...             ...
1200            421
1201            353
1202            217
1203            502
1204            480

[1205 rows x 1 columns]

In [10]:
lunch_X_time, lunch_y_time = utils.trans_train(lunch_X, lunch_y, 5)

In [11]:
lunch_X_time

array([[['2016-02-01', 0, 2601, ..., 1.3, 43.9, 39.275534],
        ['2016-02-02', 0, 2601, ..., 0.8, 47.5, 36.562925],
        ['2016-02-03', 0, 2601, ..., 0.6, 57.1, 35.796707],
        ['2016-02-04', 0, 2601, ..., 0.7, 53.4, 38.396068],
        ['2016-02-05', 1, 2601, ..., 1.0, 44.4, 41.575228]],

       [['2016-02-02', 0, 2601, ..., 0.8, 47.5, 36.562925],
        ['2016-02-03', 0, 2601, ..., 0.6, 57.1, 35.796707],
        ['2016-02-04', 0, 2601, ..., 0.7, 53.4, 38.396068],
        ['2016-02-05', 1, 2601, ..., 1.0, 44.4, 41.575228],
        ['2016-02-11', 0, 2601, ..., 1.0, 57.1, 46.523969]],

       [['2016-02-03', 0, 2601, ..., 0.6, 57.1, 35.796707],
        ['2016-02-04', 0, 2601, ..., 0.7, 53.4, 38.396068],
        ['2016-02-05', 1, 2601, ..., 1.0, 44.4, 41.575228],
        ['2016-02-11', 0, 2601, ..., 1.0, 57.1, 46.523969],
        ['2016-02-12', 0, 2601, ..., 1.1, 88.0, 49.18304]],

       ...,

       [['2021-01-15', 0, 2983, ..., 1.2, 74.8, 47.2325],
        ['2021-01-18', 0, 2983, ..., 1.9, 60.1, 36.581708],
        ['2021-01-19', 0, 2983, ..., 0.8, 44.0, 37.641360000000006],
        ['2021-01-20', 0, 2983, ..., 0.5, 64.0, 36.57056],
        ['2021-01-21', 0, 2983, ..., 0.6, 77.8, 43.391744]],

       [['2021-01-18', 0, 2983, ..., 1.9, 60.1, 36.581708],
        ['2021-01-19', 0, 2983, ..., 0.8, 44.0, 37.641360000000006],
        ['2021-01-20', 0, 2983, ..., 0.5, 64.0, 36.57056],
        ['2021-01-21', 0, 2983, ..., 0.6, 77.8, 43.391744],
        ['2021-01-22', 0, 2983, ..., 0.5, 97.5, 44.78425]],

       [['2021-01-19', 0, 2983, ..., 0.8, 44.0, 37.641360000000006],
        ['2021-01-20', 0, 2983, ..., 0.5, 64.0, 36.57056],
        ['2021-01-21', 0, 2983, ..., 0.6, 77.8, 43.391744],
        ['2021-01-22', 0, 2983, ..., 0.5, 97.5, 44.78425],
        ['2021-01-25', 0, 2983, ..., 1.0, 75.8, 45.291246]]], dtype=object)

In [12]:
lunch_y_time

array([[1045],
       [ 909],
       [1268],
       ...,
       [ 579],
       [1145],
       [1015]])

In [13]:
print(lunch_X_time.shape)
print(lunch_y_time.shape)

(1200, 5, 15)
(1200, 1)

In [17]:
lunch_y_time[500:, :]

array([[1087],
       [ 988],
       [ 651],
       [1192],
       [ 934],
       [ 786],
       [ 508],
       [1355],
       [1020],
       [1057],
       [ 973],
       [ 716],
       [1361],
       [ 997],
       [ 948],
       [ 975],
       [ 707],
       [1159],
       [1040],
       [1092],
       [ 899],
       [ 759],
       [1276],
       [1005],
       [ 926],
       [ 936],
       [ 616],
       [1212],
       [ 800],
       [ 903],
       [ 849],
       [ 741],
       [1283],
       [ 855],
       [ 804],
       [ 796],
       [ 652],
       [1195],
       [ 900],
       [ 922],
       [ 846],
       [ 605],
       [1246],
       [ 940],
       [ 851],
       [ 761],
       [ 674],
       [ 629],
       [1137],
       [ 883],
       [ 630],
       [1225],
       [ 919],
       [ 763],
       [ 602],
       [1229],
       [1004],
       [1031],
       [ 811],
       [ 563],
       [ 543],
       [1065],
       [ 754],
       [ 594],
       [1306],
       [ 931],
       [ 876],
       [ 856],
       [ 649],
       [1211],
       [ 884],
       [ 890],
       [ 631],
       [1228],
       [ 905],
       [ 936],
       [ 639],
       [1069],
       [ 952],
       [ 875],
       [ 791],
       [ 552],
       [1128],
       [1012],
       [ 957],
       [ 803],
       [ 507],
       [1258],
       [ 975],
       [ 791],
       [ 876],
       [ 661],
       [1097],
       [ 838],
       [ 894],
       [ 764],
       [ 585],
       [1061],
       [1116],
       [ 839],
       [ 748],
       [ 489],
       [ 991],
       [ 886],
       [ 760],
       [ 714],
       [ 589],
       [ 944],
       [ 789],
       [ 820],
       [ 631],
       [ 540],
       [1092],
       [ 773],
       [ 896],
       [ 821],
       [ 548],
       [ 930],
       [ 772],
       [ 789],
       [ 646],
       [1199],
       [ 972],
       [1000],
       [ 835],
       [ 678],
       [1221],
       [ 873],
       [ 915],
       [ 849],
       [ 817],
       [1213],
       [ 938],
       [ 829],
       [ 830],
       [ 581],
       [1144],
       [ 960],
       [ 805],
       [ 882],
       [ 405],
       [1189],
       [ 946],
       [ 833],
       [ 817],
       [ 929],
       [ 895],
       [1319],
       [1211],
       [ 622],
       [1235],
       [ 928],
       [ 761],
       [ 857],
       [ 627],
       [1176],
       [ 902],
       [ 777],
       [ 722],
       [ 528],
       [1156],
       [ 932],
       [ 930],
       [ 703],
       [ 539],
       [1088],
       [ 813],
       [ 860],
       [ 926],
       [ 496],
       [1154],
       [ 783],
       [ 800],
       [ 747],
       [ 616],
       [1124],
       [ 740],
       [ 832],
       [ 718],
       [ 527],
       [1077],
       [ 839],
       [ 862],
       [ 794],
       [ 543],
       [1248],
       [ 911],
       [ 885],
       [ 765],
       [ 674],
       [1201],
       [ 883],
       [ 788],
       [ 765],
       [ 664],
       [1170],
       [ 813],
       [ 710],
       [ 784],
       [ 456],
       [ 296],
       [ 695],
       [ 517],
       [ 491],
       [ 332],
       [1201],
       [ 858],
       [ 668],
       [1072],
       [ 839],
       [ 778],
       [ 767],
       [ 627],
       [1163],
       [ 963],
       [1021],
       [ 837],
       [ 585],
       [1270],
       [ 889],
       [ 958],
       [ 827],
       [ 667],
       [1140],
       [ 968],
       [ 679],
       [ 765],
       [ 804],
       [1144],
       [ 970],
       [1459],
       [1102],
       [1044],
       [ 963],
       [ 682],
       [1314],
       [1052],
       [1005],
       [ 955],
       [ 631],
       [1299],
       [ 924],
       [ 944],
       [ 772],
       [1274],
       [ 940],
       [1061],
       [ 845],
       [ 663],
       [1277],
       [ 956],
       [ 953],
       [ 791],
       [ 630],
       [1261],
       [ 990],
       [ 970],
       [1214],
       [ 567],
       [1150],
       [ 919],
       [ 856],
       [ 810],
       [ 481],
       [1029],
       [ 855],
       [ 790],
       [ 745],
       [ 575],
       [1105],
       [ 876],
       [ 789],
       [ 845],
       [ 553],
       [1184],
       [ 905],
       [ 910],
       [ 767],
       [ 683],
       [1094],
       [ 886],
       [1034],
       [ 702],
       [ 572],
       [1207],
       [ 714],
       [ 758],
       [ 654],
       [1221],
       [ 881],
       [ 958],
       [ 607],
       [1111],
       [ 907],
       [ 888],
       [ 790],
       [ 408],
       [1174],
       [ 844],
       [ 831],
       [ 658],
       [ 508],
       [1219],
       [ 931],
       [ 896],
       [ 836],
       [ 640],
       [1221],
       [ 962],
       [ 761],
       [ 389],
       [1232],
       [ 804],
       [ 876],
       [ 679],
       [ 538],
       [1099],
       [ 853],
       [ 882],
       [ 625],
       [ 505],
       [1105],
       [ 775],
       [ 946],
       [ 808],
       [ 535],
       [1175],
       [ 787],
       [ 910],
       [ 699],
       [ 546],
       [ 985],
       [ 861],
       [ 862],
       [ 730],
       [ 856],
       [1127],
       [ 952],
       [ 814],
       [ 734],
       [ 538],
       [1013],
       [ 855],
       [ 744],
       [ 668],
       [ 462],
       [ 898],
       [ 745],
       [ 619],
       [ 648],
       [ 440],
       [ 936],
       [ 798],
       [ 841],
       [ 781],
       [ 641],
       [1073],
       [ 813],
       [ 713],
       [ 466],
       [1249],
       [ 955],
       [ 923],
       [ 880],
       [ 599],
       [1221],
       [ 921],
       [ 899],
       [ 845],
       [ 575],
       [1363],
       [ 944],
       [ 769],
       [ 778],
       [ 687],
       [1228],
       [ 812],
       [ 916],
       [1283],
       [1010],
       [1006],
       [ 701],
       [ 662],
       [1239],
       [ 899],
       [ 803],
       [ 620],
       [ 722],
       [1030],
       [1241],
       [1215],
       [1133],
       [ 883],
       [ 862],
       [ 566],
       [1140],
       [ 867],
       [ 765],
       [ 708],
       [ 581],
       [1107],
       [1090],
       [ 785],
       [ 705],
       [ 546],
       [ 915],
       [ 808],
       [ 771],
       [ 671],
       [ 586],
       [1058],
       [ 773],
       [ 773],
       [ 700],
       [ 535],
       [1079],
       [ 769],
       [ 733],
       [ 677],
       [ 543],
       [1032],
       [ 762],
       [ 759],
       [ 613],
       [ 551],
       [1097],
       [ 816],
       [ 732],
       [ 644],
       [ 572],
       [1140],
       [ 873],
       [ 879],
       [ 779],
       [ 631],
       [1120],
       [ 742],
       [ 858],
       [ 731],
       [ 639],
       [1103],
       [ 739],
       [ 683],
       [ 862],
       [ 481],
       [ 741],
       [ 462],
       [ 594],
       [ 387],
       [ 652],
       [ 349],
       [ 985],
       [ 635],
       [1133],
       [ 904],
       [ 740],
       [ 773],
       [ 573],
       [ 945],
       [ 820],
       [ 633],
       [ 761],
       [ 696],
       [1075],
       [ 868],
       [ 782],
       [ 685],
       [1042],
       [1197],
       [ 736],
       [ 623],
       [1081],
       [ 849],
       [ 660],
       [ 637],
       [ 539],
       [1233],
       [1075],
       [1173],
       [ 834],
       [ 776],
       [1370],
       [ 939],
       [ 930],
       [ 826],
       [ 627],
       [1282],
       [1238],
       [1105],
       [1000],
       [ 750],
       [1362],
       [1074],
       [ 999],
       [ 989],
       [ 642],
       [1276],
       [1019],
       [ 967],
       [ 804],
       [ 593],
       [1284],
       [ 914],
       [ 831],
       [ 829],
       [ 627],
       [1110],
       [1083],
       [1022],
       [ 955],
       [ 839],
       [1000],
       [ 859],
       [ 939],
       [1009],
       [ 802],
       [1161],
       [ 969],
       [1032],
       [ 880],
       [ 780],
       [1145],
       [ 879],
       [ 947],
       [ 759],
       [1089],
       [ 911],
       [ 945],
       [ 880],
       [ 639],
       [1223],
       [ 824],
       [ 680],
       [ 504],
       [1254],
       [ 959],
       [ 620],
       [1249],
       [ 968],
       [ 844],
       [ 793],
       [ 614],
       [1141],
       [ 935],
       [ 791],
       [ 653],
       [ 512],
       [1062],
       [ 781],
       [ 704],
       [ 662],
       [ 450],
       [1114],
       [ 761],
       [ 693],
       [ 657],
       [ 505],
       [1130],
       [ 823],
       [ 719],
       [ 682],
       [ 516],
       [ 866],
       [ 675],
       [ 607],
       [1132],
       [ 917],
       [ 847],
       [ 717],
       [ 611],
       [1260],
       [ 814],
       [ 842],
       [ 971],
       [ 656],
       [1190],
       [ 861],
       [ 823],
       [ 758],
       [ 450],
       [1118],
       [ 873],
       [ 871],
       [ 704],
       [ 477],
       [1033],
       [ 776],
       [ 720],
       [ 763],
       [ 476],
       [1011],
       [ 805],
       [ 701],
       [ 594],
       [ 477],
       [ 971],
       [ 801],
       [ 749],
       [ 514],
       [1178],
       [1046],
       [ 897],
       [ 963],
       [ 784],
       [1243],
       [1021],
       [1006],
       [ 924],
       [ 746],
       [1186],
       [ 986],
       [ 965],
       [ 881],
       [ 661],
       [1191],
       [ 855],
       [ 953],
       [ 797],
       [ 570],
       [1176],
       [ 908],
       [ 970],
       [ 739],
       [ 540],
       [ 358],
       [1252],
       [ 977],
       [ 880],
       [ 923],
       [1096],
       [ 839],
       [ 797],
       [ 793],
       [ 660],
       [1035],
       [ 851],
       [ 887],
       [ 799],
       [ 648],
       [1069],
       [ 839],
       [ 791],
       [ 667],
       [ 398],
       [1150],
       [ 810],
       [ 789],
       [ 596],
       [ 459],
       [1076],
       [ 784],
       [ 747],
       [ 678],
       [ 529],
       [1068],
       [ 784],
       [ 774],
       [ 653],
       [ 747],
       [1292],
       [1156],
       [1146],
       [1034],
       [ 895],
       [1273],
       [1324],
       [1188],
       [1059],
       [ 858],
       [1317],
       [1138],
       [ 994],
       [ 975],
       [ 742],
       [1329],
       [1202],
       [1135],
       [1096],
       [ 917],
       [1256],
       [ 984],
       [ 768],
       [ 591],
       [1405],
       [1128],
       [1014],
       [1040],
       [ 726],
       [1257],
       [ 963],
       [ 913],
       [1038],
       [ 702],
       [1277],
       [1038],
       [1093],
       [ 832],
       [ 579],
       [1145],
       [1015]])